[2015-02-05 10:22] kozross opened #825 "uTox crashes when I try to video call"
When I try to video-call a friend of mine, I get the following messages in the terminal before uTox crashes:

start sending video
start webcam
A/V SelfMediachange (0)
Saved data
4550
705
534
735
1037
1431
711
2403
1076
1288
3213
2270
2272
5297
1520
5281
1283
1558
6441
2242
1567
2813
1446
2128
2284
2024
1735
2394
1752
2377
1889
2064
1931
2081
1958
2027
2096
2177
1791
2172
1659
2319
2193
2428
2059
1

[2015-02-05 14:31] irungentoo commented on #805
I'm sorry but I can't reproduce this. I need more logs and a more exact description of what you do to make it crash.

What is the resolution of your screen(s)?

Do you have more than one monitor?

How much time does it take to crash?

What do you do exactly to make it crash?

What version of windows?

Can I see a screenshot of the uTox window?

[2015-02-05 19:50] GrayHatter commented on #825
Can you upgrade to the latest version and try again?

[2015-02-06 00:45] TrollWarlord commented on #805
It just seems to happen to anyone watching a screen for a half hour or an hour. We do long team based screen sharing sessions (hour or two at a time). about 30 minutes in they seem to crash. You'll notice uTox becomes unstable first not rendering right and they POOF a few minutes later.

I'm running Arch Linux the person that it crashes is running Windows 8 on their desktop. I never crash, they al

[2015-02-06 18:04] calimeroteknik commented on #169
Under X11, no icon at all appears in the systray. Is that normal?
(Xorg 1.16.3 on Linux 3.18.5)

[2015-02-06 19:26] fcore117 opened #828 "old problem, saving or opening brings data files"
Please fix that sometimes, not always uTox copies history files or profile .tox when opening or saving files. In same folder where object is saved or opened.

[2015-02-06 21:01] pcbmaster opened #829 "uTox crashes on any copy/paste operation"
The program 'utox' received an X Window System error.
    This probably reflects a bug in the program.
    The error was 'BadAtom (invalid Atom parameter)'.
      (Details: serial 25524 error_code 5 request_code 22 minor_code 0)
      (Note to programmers: normally, X errors are reported asynchronously;
       that is, you will receive the error a while after causing it.
       To debug your progr

[2015-02-06 21:39] irungentoo commented on #829
Fixed in: https://github.com/notsecure/uTox/commit/8ed46165ee44d945e3dd4d63d4d743ecfc790252

[2015-02-06 21:39] #829 closed

[2015-02-06 22:22] Sorunome opened #830 "Make uTox obey default programs"
Make uTox obay default programs set in ~/.config/mimeapps.list

[2015-02-06 22:24] tsudoko commented on #830
It just fires up `xdg-open`, what's wrong exactly?

[2015-02-06 22:25] Sorunome commented on #830
I set it in my mimeapps to use gwenview on images, but utox starts it with gimp

[2015-02-06 22:26] Sorunome commented on #830
Ok this is probably just me messing up so nevermind

[2015-02-06 22:26] #830 closed

[2015-02-07 01:18] GrayHatter commented on #828
@fcore117 are you saying uTox reads from the .config directory, and then tries to save in the 'pwd' of where utox was started?

If so are you sure your file permissions are set correctly for that directory, and that you only have one instance running?

Otherwise I'm going to need a lot more information...

[2015-02-07 01:20] GrayHatter commented on #169
@calimeroteknik uTox currently doesn't have any tray icon support for linux. It's on the todo list... eventually, promise.

[2015-02-07 01:57] gott3rfunk3n83 commented on #169
Its fine now just switched to qtox.

[2015-02-07 10:06] fcore117 commented on #828
perhaps irungentoo remembers that last year there was issue when utox saved data file when using open or save dialogs with utox? this currently reminds very much that old bug.

[2015-02-07 14:48] calimeroteknik commented on #169
@GrayHatter After a tiny search, I see there is [a FreeDesktop standard for X11](http://standards.freedesktop.org/systemtray-spec/systemtray-spec-0.2.html) and [reference](http://standards.freedesktop.org/wm-spec/1.3/ar01s05.html), so that's all good for Linux, *BSD, and others systems using X11.
I'm trying to understand these…

[2015-02-07 20:10] GrayHatter commented on #169
@calimeroteknik if you can find me example code in C/C++ that includes right click options I can get this working in X for ~unix

[2015-02-09 09:11] ElLamparto commented on #821
I tried the version of today (09/02) and the avatars still keep dissapearing. Staying with the version of 8 January..

[2015-02-09 14:58] gjedeer commented on #814
Confirmed
0.2.m 9f13d6bc4d1c2ef9df128409b7739ca947c6c488
cpu: 4x Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz
utox mem before and after
<pre>
PID %CPU %MEM    VSZ   RSS TTY      STAT START   TIME COMMAND
31108  2.1  0.1 474304 14040 pts/14   Sl+  15:56   0:00 ./utox # BEFORE
31108 16.0  0.1 474496 15028 pts/14   Rl+  15:56   0:11 ./utox # after
</pre>
total ram: 8gb, 3.4 gb free
7 friends

it seems to

[2015-02-09 15:10] gjedeer commented on #814
callgrind

![contributors1](https://cloud.githubusercontent.com/assets/315648/6108766/090881f6-b076-11e4-8ef0-ce4384ee8636.png)
![contributors1](https://cloud.githubusercontent.com/assets/315648/6108770/0f159fd4-b076-11e4-9dae-91914f4792a7.png)

[2015-02-09 15:36] gjedeer commented on #814
Delaying FcCharSetHasChar() call until after hash table lookup seems to fix this issue - https://github.com/notsecure/uTox/pull/832

There's another related issue, though, which I could not debug - clicking on the text to move your cursor takes a very long time. Just paste the string from @tsudoko into message edit box, it's apparent.

[2015-02-09 16:58] tsudoko commented on #814
I can't even paste that, uTox just hangs when I try.

[2015-02-10 20:25] gjedeer commented on #782
Please don't kill the screenshot button, it's an awesome feature.

[2015-02-10 23:06] SILENCE-GIVES-CONSENT opened #836 "notsecure, are you still utox's maintainer?"
You haven't shown any sign of activity since October.
Is everything okay?
Why have you (apparently) abandoned Tox?
We are worried.

[2015-02-10 23:07] SILENCE-GIVES-CONSENT commented on #836
Does it have anything to do with the current situation of the Tox Foundation exposed in the last weeks?
Just post here, even if just to say "hello". We need to know if you are fine.

[2015-02-10 23:15] irungentoo commented on #836
What is this?

[2015-02-10 23:15] #836 closed

[2015-02-10 23:17] GrayHatter commented on #836
trolling you mean?

It is probably the worst place...

no we're not

[2015-02-10 23:29] SILENCE-GIVES-CONSENT commented on #836
@GrayHatter
Speak for yourself, but I'm a long time acquaintance of notsecure and find myself worried about his disappearance since October.
I'm even more afraid when I think about the recently revealed unethical situation of the Tox Foundation. Could he have suffered the same as Proplex and other ex-developers?
notsecure, are you okay?

[2015-02-10 23:34] GrayHatter commented on #836
Long time friend with no way of contact?

[Citation Needed]

[2015-02-10 23:39] SILENCE-GIVES-CONSENT commented on #836
Long time acquaintance, not friend. Don't put words on my mouth, please.
 We used to talk through IRC from the beginning of 2013 until October 2014. Since then he's mysteriously disappeared. I thought he was busy with school or something, but since it's been so long without *any* activity (not on Github or IRC), I got worried.
Has he really abandoned Tox? Why won't he give the minimum sign of bein

[2015-02-10 23:41] LittleVulpix commented on #836
@irungentoo Please make this convo for collaborators only so the trolls cannot comment
@SILENCE-GIVES-CONSENT Go to tox-foundation github for trolling

[2015-02-10 23:41] SILENCE-GIVES-CONSENT commented on #836
@LittleVulpix
That's fine, as long as notsecure is still able to comment here.

[2015-02-12 07:56] susobaco opened #838 "No show icon in debian/ubuntu lxde (Utox 0.2.m)"
No minimize, no show icon.

[2015-02-12 08:05] GrayHatter commented on #838
What do you mean no minimize/no show?

[2015-02-12 08:39] susobaco commented on #838
OK, when you start the application, the icon does not appear in the systray. When the minimize option is ordered, does not appear

[2015-02-12 09:23] kriswema commented on #838
That's right, with the new Close to Tray and Start in Tray functions activated, uTox simply won't appear on system trays that aren't supported.

[2015-02-12 11:39] redmanmale opened #839 "Settings are reset after restart the app"
All settings (interface language, logging) are reseted to default after restart app.

[2015-02-12 13:29] irungentoo commented on #839
What operating system are you on?

[2015-02-12 14:56] #347 closed

[2015-02-12 15:25] Encrypt commented on #758
Hello you!

I have well-received your requests and I will try to implement them.

For the moment, I reviewed my code to make something cleaner (dealing with the GMainLoop and MessagingMenu library was hard to understand at first!).

A notification now disappears when the software is maximized (I mean when I click on its icon in the tray) if the display is focused on the chat box of the friend who

[2015-02-12 18:12] redmanmale commented on #839
@irungentoo Win7 x64.

[2015-02-13 02:34] shalnoff commented on #758
Hi Yann,

thank you for modifications and for your contribution. It's really
great job!

However, I've updated uTox just now to version 0.18-512 and found that
there is still no tray-icon in my Mate (Gnome classic fork). Start in
Tray and Close in Tray switchers are there, but unfortunately it's looks
like in case of using Mate they cause no action.

Dmitry

On Thu, 12 Feb 2015 07:25:19 -0800
Yann

[2015-02-13 12:44] kriswema commented on #782
Wait, don't we have live screen sharing? I can select "Desktop" in my video input options.

[2015-02-13 16:24] gjedeer commented on #782
@kriswema I, for instance, used live screen sharing only once - to check if it works. I'm using the screenshot button daily. So yes, there is live screen sharing, but it's not a better alternative to screenshots - it's a different feature.

[2015-02-13 18:19] muchweb commented on #782
It looks like when author of the issue is saying 'screen sharing', they really mean a screenshot.

/cc @kriswema @gjedeer

[2015-02-13 21:13] aaannndddyyy opened #840 "regression: copying text out of utox is broken"

[2015-02-13 21:21] irungentoo commented on #840
Operating system?

What are you trying to copy?

From where exactly?

[2015-02-13 21:27] aaannndddyyy commented on #840
- trisquel gnu/linux. (also happened on non-debian distro)
- text messages or links in groupchat text messages, by highlighting the text, right mouse click, choosing either 'copy' or 'copy (no names)' or ctrl+c
- from the dialogue part of the groupchat (where your and others' messages appear).
It does work in 1:1 though.

[2015-02-14 19:13] Nsheppard01 commented on #788
Higher resolutions would also be nice.

[2015-02-14 19:25] Nsheppard01 opened #841 "[request] Chat enhancements."
It's nice that uTox has /me and >greentext but more features would be nice. Consider supporting markdown, or at least parts of it (headings and inline tables might be a bit much)

As for smilles, I hate it when I try to draw Ascii art smilies, and they get converted into ugly gifs, avoid automatic smilies. Emoji are okay because they have unambiguous synatax, but if I type :) I shouldn't see it tu

[2015-02-14 19:33] tsudoko commented on #841
I don't understand, uTox doesn't convert text emoticons into anything.

[2015-02-14 19:35] Nsheppard01 commented on #841
It dosn't and it should stay that way. I'm requesting that that particular change never be made.
If people want smilies, they should use Emoji or Ascii art, not a combination of the two.

[2015-02-14 20:03] tsudoko commented on #841
I agree.

[2015-02-14 21:36] Nsheppard01 commented on #802
Horrifying.

[2015-02-15 07:55] Nsheppard01 commented on #841
Another idea, change the behavior of /me statements

Right now all they do is turn the text blue. Wouldn't it be better if it turned the username blue as well, and maybe moved it to the other side of the margin so it looks different from a normal post?

[2015-02-15 15:01] merlink01 opened #843 "[request] Different soundcard for ringing"
It should be possible to ring on normal speakers while using a headset.

[2015-02-15 15:14] merlink01 commented on #700
+1

[2015-02-15 16:01] v2e commented on #843
This seems to be the same as the earlier request: #688

[2015-02-16 07:38] zetok opened #844 "µTox segfaults on hardened Gentoo if compiled with support for filter_audio"
https://gist.github.com/zetok/66608746e388b9b1a892 ← bt from some time ago

https://gist.github.com/zetok/49d56c198615cb40b46c ← bt && bt full on newest µTox & core
https://gist.github.com/zetok/c501c1bb30272fed6c04 ← build with -fsanitize=address
https://gist.github.com/zetok/d91f59b2ef3d582487f8 ← build without -fsanitize=address

[2015-02-16 07:45] DarkLinkXXXX commented on #844
Same here.

[2015-02-16 10:50] XVilka commented on #227
looks like echo cancelling is implemented already by @irungentoo https://github.com/irungentoo/filter_audio/commit/5254f2d8002d8fae09f795410e43cebf17c4b126

[2015-02-16 13:14] irungentoo commented on #844
can you build it with: -g to try to get a proper backtrace?

[2015-02-16 14:42] shalnoff commented on #838
Yepp. Same thing in Mate (Linux Mint). No window icon, no tray minimising.

[2015-02-16 17:03] calimeroteknik opened #845 "uTox hogs the soundcard and camera all the time"
Right at startup, µTox takes a handle on the audio output device and the webcam.
This is quite troublesome, since no other application can use the audio output, the audio input, or the webcam, even when utox doesn't use them at all for anything.

So I have to close utox, run another app that uses the audio or camera, and start utox again.
It's the only way I can listen to music while chatting or u

[2015-02-16 19:03] aceberg commented on #838
Xfce (ubuntu 14.04) no tray icon too

[2015-02-17 00:55] P8ntBal1551 opened #846 "close to tray setting resets on restart"

[2015-02-17 00:55] P8ntBal1551 commented on #846
It doesn't seem to save the setting when i completely close and restart the program

[2015-02-17 01:33] GrayHatter commented on #846
Does it close to tray as expected when you reset it from settings?

On Mon, Feb 16, 2015, 16:55 P8ntBal1551 <notifications@github.com> wrote:

[2015-02-17 02:41] P8ntBal1551 commented on #846
Ok, so I re-installed it and now seems to work as it is supposed to, so you can close this. I'm sorry for the vagueness of my previous post, I was on my phone in class and was 70% asleep.

What I meant to say is that - I have it in my start-up folder on windows. When it started up with my system the "Close to tray" and "Start in tray" settings reset back to No.

So thanks for your help and sorry t

[2015-02-17 02:41] #846 closed

[2015-02-17 05:54] GrayHatter commented on #838
uTox currently doesn't support tray in linux. That's currently a windows only feature.

So is this issue that uTox wont go to tray? Or that when start in tray is enabled, uTox doesn't open any window at all?

If uTox doesn't open at all, can you confirm that uTox is actually still running in the background?

[2015-02-17 07:51] aceberg commented on #838
When start in tray is enabled, uTox starts as usual opening it's window, no tray.

When close to tray is enabled, closing uTox window kills it. There is no process utox in background.

[2015-02-17 10:35] kriswema commented on #782
Yes, the original issue was with the screenshots, but @GrayHatter and @ElLamparto were talking about a video screen sharing option. I just wanted to clarify that we already have an option for that, even if hidden in the options. :clipboard:

[2015-02-17 12:20] ElLamparto commented on #845
There is already a ticket for that. However under Debian and Windows µTox takes a camera into exclusive use. It does not affect audio. Once a web site attempted to use my webcam/micro and since then I begun to like this bug... I think that it should be configurable in the settings.
By the way, you don't need to close Tox. It is enough to select in the Settings 'None' as input device.

[2015-02-17 14:21] calimeroteknik commented on #845
Oh! Apologies, I did look for a bugreport but didn't find any. Could you point it to me?

It does not affect your audio maybe, because you use a sound server such as pulseaudio or (less probably) jackd, or don't mind that ALSA's resampler, dmix, is on and destroying sound quality.
Oftentimes I need to run jackd out of the blue for midi mixing, or to hog my output device for clear sound (since with

[2015-02-21 21:10] Doom032 commented on #840
I've been having the same issue recently. On Xubuntu and Lubuntu. Only in groupchats. Both in the main groupchat and in groupchats I make.

[2015-02-21 22:43] Nsheppard01 opened #849 "Draging links and pictures."
When I drag a picture from my web browser into the uTox chat window, uTox will attempt to transfer a file, rather than pasting the link. The latter would be a preferred action, while the former is only appropriate when one is dragging a picture from ones desktop.

[2015-02-22 05:43] Nsheppard01 opened #850 "Can't rename group chats."
Exactly what it says on the tin. Apparently people using qTox can, but I can't find an option in uTox.

[2015-02-22 05:43] Nsheppard01 opened #851 "Switch profile"
The Switch profile tab does not appear to do anything. It's totally blank.

[2015-02-22 09:41] tsudoko commented on #850
You can. Type `/topic`, press tab, modify as you like.

[2015-02-22 21:41] #423 closed

[2015-02-23 00:08] Nsheppard01 commented on #850
Ahh thanks. Still, it would be nice if you had a GUI option to change the topic like you can with your nick.

[2015-02-23 01:06] dennisnez opened #852 "utox Makefile needed -lrt added to LDFLAGS to compile"
I had to add "-lrt" to the LDFLAGS in my utox Makefile in order to get it to compile. Otherwise, compilation would fail with:

   main.o: undefined reference to symbol 'clock_gettime@@GLIBC_2.2.5'

[2015-02-23 01:29] dennisnez opened #853 "Trouble displaying yuv420 video"
My utox has trouble displaying YUV420 formatted video, which mplayer tv:// plays as:

Selected driver: v4l2
 name: Video 4 Linux 2 input
 author: Martin Olschewski <olschewski@zpr.uni-koeln.de>
 comment: first try, more to come ;-)
v4l2: your device driver does not support VIDIOC_G_STD ioctl, VIDIOC_G_PARM was used instead.
Selected device: Dummy video device (0x0000)
 Capabilities:  video capture

[2015-02-23 08:33] muchweb commented on #851
This seems to be a duplicate of https://github.com/notsecure/uTox/issues/733

[2015-02-23 08:43] muchweb commented on #737
@irungentoo, here are commits for more recent versions (in addition to above):
[code]

[2015-02-23 16:05] Sorunome opened #854 "ssh x forwarding"
if i start utox via ssh x forwarding i don't get any text, everything is just blank

[2015-02-23 19:48] GrayHatter commented on #854
`echo $display` please

On Mon, Feb 23, 2015, 08:05 Sorunome <notifications@github.com> wrote:

[2015-02-23 21:57] peacememories opened #855 "Can't drag contacts into group chat"
To invite a contact to a group chat, uTox tells me to drag the contact onto the group chat. If i click to drag the contact, though, the contacts chat gets selected, meaning I can't drag the contact into the group chat window.

uTox 0.2.n

[2015-02-24 11:05] Sorunome commented on #854
That gives me a blank line.

Also other X applications work fine

[2015-02-24 15:19] tsudoko commented on #854
I think he meant `echo $DISPLAY`.

[2015-02-24 15:19] Sorunome commented on #854
[sorunome@sorunome-desktop ~]$ echo $DISPLAY
localhost:10.0

[2015-02-25 11:45] tux3 opened #856 "Sometime the DPI change to Huge (250%) with starting"
As reported by Azlux on #tox.

[code]

[2015-02-25 13:09] muchweb commented on #331
+1

[2015-02-25 13:17] muchweb opened #857 "Add history viewer utility"
Ability to filter logs by date and contact (or chatroom).

Here are examples from popular messangers: Pidgin, Adium, Empathy, Trillian:

![logviewer](https://cloud.githubusercontent.com/assets/7157049/6371147/78ac9c6e-bcf0-11e4-8070-1590967763bd.jpg)

![trillian-aim-chat-activity-history-log-example](https://cloud.githubusercontent.com/assets/7157049/6371150/7d8ae556-bcf0-11e4-9f31-968f0c5e3c1f.gi

[2015-02-25 16:52] CalcProgrammer1 commented on #787
I would add that the video display should be somehow integrated into the main UI, with an option to pop it out as its own window.  Also, add a fullscreen option for the video (since screensharing 1080p makes it go off the screen if your friend also has a 1080p monitor).  Finally, add a lock aspect ratio option to the video window so resizing it doesn't stretch and distort the video.

[2015-02-26 07:41] kriswema commented on #855
You have to drag it onto the group chat entry on the left.

[2015-02-26 09:01] Agent0929 commented on #738
Same problem experienced on a setup with three screens, on Windows 7 Professional SP1.

[2015-02-26 09:10] GrayHatter commented on #738
@irungentoo can you assign me so I don't forget about this one?

On Thu, Feb 26, 2015 at 1:01 AM, Agent0929 <notifications@github.com> wrote:

[2015-02-26 21:34] GrayHatter commented on #854
I'm going to need as much information as you can supply, I just tested this
and utox runs as expected with Xforwarding

On Tue, Feb 24, 2015 at 7:19 AM Sorunome <notifications@github.com> wrote:

[2015-02-26 21:35] Sorunome commented on #854
the ssh server runs archlinux, as window manager awesome, no DE. I use the catalyst drivers.

The ssh client also runs archlinux, there i run XFCE4, though, and also the catalyst drivers.

Any more information needed?

[2015-02-27 02:48] GrayHatter commented on #854
login to you server and `cat /etc/ssh/sshd_config`

what ssh command are you using to connect?

What version of utox are you trying to run?

Can I get a screen shot of the missing text?

[2015-02-27 06:20] GrayHatter commented on #856
@tux3 can you find out if he can repeat it? (OS, version, how he's starting utox)

[2015-02-27 07:52] tux3 commented on #856
@GrayHatter I haven't seem him again since, so I don't think I'll be able to get more info, sorry.

[2015-02-27 08:37] GrayHatter commented on #856
@tux3 close this?

[2015-02-27 13:24] Sorunome commented on #854
sshd config: http://pastebin.com/vQTRDLvC
ssh command: ssh -X <host>
utox version: utox-git-r1185.gb3cd0a0-1   (taskbar says 0.2.n)
Screenshot: https://img.ourl.ca/Screenshot_2015-02-27_14-21-04.png

Also ssh X forwarding works fine with other applications such as hexchat

[2015-02-27 18:30] GrayHatter commented on #854
what happens if you use -Y instead of -X

[2015-02-27 18:32] Sorunome commented on #854
Oh, that is working, thank you!

[2015-02-27 20:44] tux3 commented on #856
Well, that's your call. I just reported someone else's bug.

[2015-02-27 21:04] GrayHatter commented on #230
@zetok close this??

[2015-02-27 21:07] GrayHatter commented on #248
@towlie can you still make this happen?

[2015-02-27 21:10] GrayHatter commented on #170
@grayich are you still having this issue?

[2015-02-27 21:11] GrayHatter commented on #309
@Nokta-strigo is the latest version still segfaulting on exit?

[2015-02-27 21:12] GrayHatter commented on #304
@GGMethos can you AUR utox-git now?

[2015-02-27 21:15] #262 closed

[2015-02-27 21:15] #296 closed

[2015-02-27 21:16] #679 closed

[2015-02-27 21:18] GrayHatter commented on #244
@tsudoko I can save on windows, is this still a problem somewhere?

[2015-02-27 21:19] #737 closed

[2015-02-27 21:20] GrayHatter commented on #323
@JasonBiggums seems like network lag. But either way: are you still having this issue?

[2015-02-27 21:21] GrayHatter commented on #328
@Nokta-strigo are you still having this issue?

[2015-02-27 21:26] tsudoko commented on #244
Looks like it works

[2015-02-27 21:26] #244 closed

[2015-02-27 21:28] GrayHatter commented on #364
@d-random-contributor can you still make this happen? And if so can you provide a little more detail on how to reproduce it?

[2015-02-27 21:29] GrayHatter commented on #358
@Fleshgrinder @lovetox can you still duplicate this issue?

[2015-02-27 21:30] #334 closed

[2015-02-27 21:35] Nokta-strigo commented on #309
Tried to install it with homebrew, got an error:

/Library/Caches/Homebrew/utox--git
==> Checking out branch master
 ==> clang -o /usr/local/Cellar/utox/HEAD/bin/utox -ltoxcore -ltoxav -ltoxdns -lr 
^
 util.c:647:13: error: no member named 'proxy_type' in 'Tox_Options' 
options.proxy_type = !!save->proxyenable;
 ~~~~~~~ ^
 5 errors generated.  

 If reporting this issue please do so at (not Homebr

[2015-02-27 21:36] tsudoko commented on #309
Looks like outdated core

[2015-02-27 21:46] #851 closed

[2015-02-27 21:49] Nokta-strigo commented on #309
@tsudoko thanks, that helped :-)
@GrayHatter Yes, it does. Now after pressing the cross I get:

CHMOD: success 
Writing uTox Save :: 
Saved data
 CHMOD: success 
Segmentation fault: 11 
logout 

[2015-02-27 21:50] GrayHatter commented on #371
@lovetox can you still make this happen?, if so what's the name of the contact?

[2015-02-27 21:53] GrayHatter commented on #377
@gez is it still ugly?

[2015-02-27 22:01] Nokta-strigo commented on #328
Yes, all the same.
BTW, 0.2.n - is the right version, isn't it?

[2015-02-27 22:04] GrayHatter commented on #415
@Arkderce does this still exist?

[2015-02-27 22:05] GrayHatter commented on #445
@mlmarenchino still an issue?

[2015-02-27 22:06] GrayHatter commented on #450
@foo-bar-baz are you still having this issue?

if so can you describe the steps to reproduce it?

[2015-02-27 22:07] GrayHatter commented on #451
@karai17 can you still create this issue?

If so can you provide some steps to reproduce it?

[2015-02-27 22:08] GrayHatter commented on #455
@karai17 can you still create this issue?

If so can you provide a picture of what you mean?

[2015-02-27 22:12] GrayHatter commented on #431
@MasX what OS?

[2015-02-27 22:16] GrayHatter commented on #821
should be fixed in #859

[2015-02-27 22:16] #271 closed

[2015-02-27 22:17] GrayHatter commented on #792
@ElLamparto can you take a look at #859 on windows and tell me if this fixes this issue?

[2015-02-27 22:17] #356 closed

[2015-02-27 22:17] #393 closed

[2015-02-27 22:17] #184 closed

[2015-02-27 22:18] #216 closed

[2015-02-27 22:18] GrayHatter commented on #777
fixed somewhere...

[2015-02-27 22:18] #777 closed

[2015-02-27 22:18] #282 closed

[2015-02-27 22:18] #285 closed

[2015-02-27 22:19] #307 closed

[2015-02-27 22:19] #308 closed

[2015-02-27 22:19] GrayHatter commented on #821
@ElLamparto can you duplicate the tooltip issues in #859

[2015-02-27 22:19] #821 closed

[2015-02-27 22:20] #378 closed

[2015-02-27 22:20] #386 closed

[2015-02-27 22:20] #390 closed

[2015-02-27 22:20] #394 closed

[2015-02-27 22:21] #444 closed

[2015-02-27 22:21] #457 closed

[2015-02-27 22:21] #459 closed

[2015-02-27 22:21] GrayHatter commented on #328
@Nokta-strigo yeah, that's the newest as of now, I'll see if I can fix this.

[2015-02-27 22:21] #516 closed

[2015-02-27 22:22] #91 closed

[2015-02-27 22:22] #368 closed

[2015-02-27 22:22] #409 closed

[2015-02-27 22:23] karai17 commented on #455
![](http://puu.sh/gfsCb/677e524413.png)

![](http://puu.sh/gfsD6/24895b2931.png)

![](http://puu.sh/gfsGL/5f4f7e88fe.png)

[2015-02-27 22:24] MasX commented on #431
@GrayHatter The latest linux mint debian edition. I don't know if the problem still exists, as I haven't used tox for a while on that OS.

[2015-02-27 22:25] GrayHatter commented on #431
@MasX can you close this then, and reopen it if you have that issue again?

[2015-02-27 22:26] karai17 commented on #451
This seems to work now in that it does save and does not crash, but there is a new issue where it does not open the file when you click "click to open". If you cancel sending a file, it also shows two tile stamps over top of each other.

![](http://puu.sh/gfteM/edb56304a5.png)

[2015-02-27 22:33] #431 closed

[2015-02-28 00:00] GrayHatter commented on #854
@Sorunome Don't forget to close this!

[2015-02-28 00:13] #374 closed

[2015-02-28 00:13] #389 closed

[2015-02-28 00:18] foo-bar-baz commented on #450
On Feb 27  14:06 -0800, GrayHatter wrote:

no, it seems to be fixed. although sound is still choppy; as if buffer gets
flushed (a second of no sound) and then sound comes back on again.

maybe we close this and open a new one for choppy sound?

[2015-02-28 00:43] GrayHatter commented on #450
yeah, please and thankyou

On Fri, Feb 27, 2015 at 4:18 PM, SG. Garcia <notifications@github.com>
wrote:

[2015-02-28 00:54] #450 closed

[2015-02-28 09:07] tsudoko commented on #854
But isn't the issue still there if -X doesn't work properly?

[2015-02-28 09:25] Sorunome commented on #854
But -Y allows, according to the man page, trust forwarding.

       -X     Enables X11 forwarding.  This can also be specified on a per-host basis in a configuration file.

              X11 forwarding should be enabled with caution.  Users with the ability to bypass file permissions on the remote host (for the user's X authorization database) can access the local X11  display  through  the  forwa

[2015-02-28 09:25] #854 closed

[2015-02-28 09:42] zetok commented on #844
I no longer have any problem after using vanilla GCC instead of hardened one:
[code]

When I switched back to hardened GCC and recompiled µTox and filter_audio, segfault was still reproducible.

====
and yes, I have everything compiled with ``-ggdb``

[2015-02-28 11:01] zetok commented on #230
why?

[2015-02-28 11:45] elfring commented on #457
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html "Unchecked return values") a bit more.

Are you interested to apply [aspect-oriented software development](http://aspectc.org/ "AspectC++")?
How do you think about to encapsulate error detection and corresponding exception handling as [a reusable aspect](http://en.wikipedia.org/wiki/Aspect_%28computer_p

[2015-02-28 12:00] muchweb opened #862 "Setup official PPA"
To create official PPA on a launchpad. `deb` should contain correct `.desktop` entry and an icon.

Ubuntu users are used to convenience and installation should be made easy.

/cc @irungentoo

[2015-02-28 16:02] Arkderce commented on #415
Yes, it does. Reporting now from Win8.1 (last time I wrote here using win7).

[2015-02-28 16:48] #363 closed

[2015-02-28 16:59] towlie commented on #248
It's still broken. When readding the friend you cannot call him anymore but he can call you.
So the one who deleted someone while calling is unable to do calls until you restart utox.

[2015-02-28 17:02] towlie commented on #248
Same thing happens when doing this on qtox. @tux3

[2015-02-28 18:24] GrayHatter commented on #230
Because maybe it works now?

[2015-02-28 19:30] muchweb commented on #796
+1 for ability to specify colours.

Maybe to add an option for loading colours from the [X resources](http://en.wikipedia.org/wiki/X_resources)?

[2015-02-28 20:54] tsudoko commented on #796
That's actually a nice idea.

[2015-02-28 22:26] fcore117 commented on #796
maybe not x resources but own cross platform simple theme switcher like dark mode, gray mode, monochrome mode and so on.

[2015-02-28 22:51] tot-to commented on #796
fcore117, I think ideally a cross-platform software should try first to follow the local settings (which is of course platform-specific) and only in case if it can't (or if user wants it specifically) to use it's own theme selection mechanism.

X resources looks the best toolkit-independent and standart way in case of X.org server.

But for now, please just make it possible to change colours. No m

[2015-02-28 23:35] fcore117 commented on #796
tot-to: mostly i meant color tone switching too, it would be great for night tone so eyes wont burn out.

[2015-03-01 04:19] GrayHatter commented on #182
@aus4000 I'm going to close this, please reopen if you still have any issues, or questions!

[2015-03-01 04:19] #182 closed

[2015-03-01 04:33] GrayHatter commented on #843
Closed for #688

[2015-03-01 04:33] #843 closed

[2015-03-01 04:44] GrayHatter commented on #814
I can't even paste that into Windows

[2015-03-01 04:46] GrayHatter commented on #321
also #814

[2015-03-01 04:49] GrayHatter commented on #535
@tsudoko I'm assuming this is stale, please reopen if you can make it happen (and provide your compiler flags)

[2015-03-01 04:49] #535 closed

[2015-03-01 04:53] GrayHatter commented on #317
ctl/shift + click?

[2015-03-01 05:04] GrayHatter commented on #603
@TheLastProject there's now a send button, so I'm going to close this.

feel free to re-open it if you can suggest a better place

[2015-03-01 05:04] #603 closed

[2015-03-01 05:13] #127 closed

[2015-03-01 05:15] GrayHatter commented on #195
Closed as stale, please reopen if you need to.

[2015-03-01 05:15] #195 closed

[2015-03-01 05:21] GrayHatter commented on #828
@fcore117 I still don't understand, could you explain this in a lot more detail?

[2015-03-01 05:22] GrayHatter commented on #825
@kozross closed as stale, re-open if you can make it happen again!

[2015-03-01 05:22] #825 closed

[2015-03-01 05:23] GrayHatter commented on #803
@Sorunome I'm going to close this as stale, re-open if you can make it happen on demand, or can provide more information about when it happens.

[2015-03-01 05:23] #803 closed

[2015-03-01 05:34] GrayHatter commented on #838
dup of #208

[2015-03-01 05:34] #838 closed

[2015-03-01 05:36] GrayHatter commented on #750
@towlie can you check your settings and make sure that ringtone is enabled?

[2015-03-01 05:37] GrayHatter commented on #344
closed as stale

[2015-03-01 05:37] #344 closed

[2015-03-01 05:49] #720 closed

[2015-03-01 05:50] GrayHatter commented on #677
@darkman088 I'm going to close this, but if you can still make it happen let me know and re-open this

[2015-03-01 05:50] #677 closed

[2015-03-01 05:52] GrayHatter commented on #767
fixed in grayhatter/win-popup for windows, maybe linux will be soon?

[2015-03-01 05:55] GrayHatter commented on #583
@ViktorFerm if you can still make it happen re-open this and tag me;

I also need to know you OS and version, and utox version

[2015-03-01 05:55] #583 closed

[2015-03-01 05:56] GrayHatter commented on #608
I'm with darkman on this one, so I'm closing as no, you can re-open if you can get someone else to agree with you that you need this feature.

[2015-03-01 06:01] GrayHatter commented on #546
closed as fixed, works for me, if you need to re-open and provide more information

[2015-03-01 06:08] GrayHatter commented on #692
@darkman088 I'm closing this, if you can make this bug happen on demand please create a new issue, tag me, and provide as much information as you can as to how can I make it happen too.

[2015-03-01 06:08] #692 closed

[2015-03-01 06:09] GrayHatter commented on #729
fixed, thanks @Doom032

[2015-03-01 06:09] #729 closed

[2015-03-01 08:17] aaannndddyyy commented on #862
https://launchpad.net/~i2p.packages/+archive/ubuntu/i2p has nice packaging

[2015-03-01 08:18] aaannndddyyy commented on #820
I don't see why you want to limit the way users interact with utox and force them to type text they could as well copy....

[2015-03-01 10:16] TheLastProject commented on #546
It worked the first time, but after resizing the window it will consistently open behind the window each time the file transfer button is clicked.

KDE 4.14.3 by now.

[2015-03-01 10:37] zetok commented on #230
What do you mean?

[2015-03-01 11:14] muchweb opened #863 "Feature request: Starting group chats by selecting multiple users"
Expanding an idea from [#317: ability to select multiple friends at once](https://github.com/notsecure/uTox/issues/317).

It could be tedious to add every chat member by using 'drag&drop'. Multiple users selection would be nice interface for this.

1. Select multiple users with <kbd>ctl/shift + click</kbd>.
2. Chat area should show the message 'type a subject to start a group chat'.
3.  User confi

[2015-03-01 11:30] tsudoko commented on #863
Interesting idea.

[2015-03-01 11:35] tsudoko commented on #787
Should be compatible with #317 if it gets implemented

[2015-03-01 11:35] tsudoko commented on #317
Can't think of any other way.

[2015-03-01 11:39] muchweb commented on #737
@irungentoo, thank you. Not being picky, but could you also add older tags (from my original post), just for the sake of preserving history? ☺

[2015-03-01 11:44] muchweb commented on #317
This could create a conflict with current 'drag&drop' functionality. As when user will start dragging the mouse to create a 'box', she will initiate a drag. The only was this could work is if we ignore dragging when <kbd>ctl/shift</kbd> is being hold.

[2015-03-01 11:51] muchweb opened #866 "Setup CI for 'Github releases'"
To set up the build system to upload binaries to 'Github releases' page ([related SO answer for Jenkins](http://stackoverflow.com/a/24618910)).

This will allow users easy access to historical builds.

[2015-03-01 12:11] tsudoko commented on #317
I was thinking about creating a box only when the mouse pointer doesn't highlight any contact, e.g. in that little space between the scrollbar and the contact list.

[2015-03-01 12:13] fcore117 commented on #828
https://mega.co.nz/#!3ZhgEIDB!T8xYV_Odmnjsj77xpnnjkvbvIAtsYHkad3WvPMB8-7s

this problem is on ubuntu too, sometimes tox copies just a profile .tox in same way or log file.

[2015-03-01 12:17] tsudoko commented on #737
``22:24:51 <@irungentoo> `michiru, the version numbers in main.h were wrong``

[2015-03-01 15:36] TheLastProject commented on #866
Historical builds are already available on [Jenkins](. See the [linux_amd64 build] as an example.

[2015-03-01 16:11] muchweb commented on #866
@TheLastProject, yes, I was aware of that, but some users are used to check releases page first. It makes it a [little more user friendly](https://github.com/atom/atom/releases).

[2015-03-01 18:07] nachfuellbar commented on #344
I don't know which notifications @reyaz006 wanted to see
but this feature would still be good (configurable notifications for e.g. friend request, chat messages, incoming call; notifications like flashing window, tray message [i don't know how this is really called] and audio notifications)
maybe in separate tab because this could be too much for one page

[2015-03-01 21:12] bob3434 commented on #601
I would help but, I am no longer able to build the Linux version. I was able to build it in the past because I was able to download the necessary android dependencies from Jenkins and use the Jenkins console output as an instruction guide to help set up my build environment. But now that Jenkins is broken, I'm struggling to figure out to compile the android version... I'll keep trying, but it woul

[2015-03-02 00:34] GrayHatter commented on #230
@zetok does drag and drop still not work?

[2015-03-02 00:36] GrayHatter commented on #344
@nachfuellbar I'm planning to split up the setting page eventually, but if you'd open a new issue and describe exactly what you'd like to see that would be easier on me.

[2015-03-02 00:41] GrayHatter commented on #601
@bob3434 somewhere along the way building android was broken and no one ever looked into to. If you can stop by irc and find out exactly when the last successful build was, you can use git bisect to track down the changes that broke it.

If you do put in the work to get android working again, I'd really appreciate a write up on how to build a working apk. If you can get a working build environment

[2015-03-02 00:51] GrayHatter commented on #866
Github has said that they don't want to be a source to distribute binaries. Unless someone can correct me, I'd just assume not upload binaries to GH repo, with a possible exception of stables releases.

[2015-03-02 00:57] muchweb commented on #866
'Github releases' is a page, separate from repo, that is meant for binaries. See [one of Github's own projects](https://github.com/atom/atom/releases) for an example.

[2015-03-02 01:59] ReAzem commented on #866
It is a common practice to publish binaries for all tags. ([example](https://github.com/syncany/syncany/releases))

[2015-03-02 12:11] towlie commented on #750
Yes, on one laptop the audio notification was disabled somehow. So it's not a bug, but the tray icon bug persists. I will edit the title.

[2015-03-02 12:14] towlie commented on #750
Whatever "unique environment" means I guess you can remove it because all windows users should have that behaviour.

[2015-03-02 16:50] nachfuellbar opened #870 "Feature request: configurable notifications"
Configurable notifications would be great. For now i only mention notification types for Windows

types of notifications:
- flashing window (on top of systray)
- flashing taskbar icon
-  audio notification

notification trigger:
- chat message
- incoming call
- incoming file transfer
- file transfer complete
- friend request

Each notification trigger should have each type of notification as optio

[2015-03-02 17:39] muchweb opened #871 "Unity integration: progress bar support"
I have seen an issue about number indicator, but not sure if below has been implemented yet.

<p align="center">
<img alt="ubuntu-progress-bar" src="https://cloud.githubusercontent.com/assets/7157049/6446395/d02d1bb0-c102-11e4-9bd7-e6c725948f2f.png">
</p>

[2015-03-02 21:28] Vioner commented on #526
Could anyone implement this feature please? Maybe at least a shortcut for mute/unmute? Tox is the best possible voice chat software IMO - it uses just 3-4 MB of my RAM when I play with 4 friends using groupchat. It's way better then Skype and TeamSpeak (in both cases, the resource usage, and in 2nd case the sound quality). It lacks just the push-to-talk feature.

[2015-03-03 00:11] GrayHatter commented on #750
I've only ever seen explorer crash once or twice, and I never met anyone who's needed to restart explorer.exe without some sort of system crash/bug involved.

[2015-03-03 08:38] muchweb commented on #871
This is meant only for file transfers.

[2015-03-03 12:20] towlie commented on #750
I sometimes have to because of a bug. Applications like qtox or skype are able to recreate the try icon.

[2015-03-03 15:52] kriswema commented on #608
I think it's a feature that shouldn't be left out. If you don't like people who put URLs into their status texts, that's your choice in friends. I personally don't mind, and apparently there are people who enjoy putting URLs into their status texts. I don't see a reason not to implement this.

[2015-03-03 15:59] aaannndddyyy commented on #608
Why do you want to restrict the way people can use the program? Why should they have to type it if they could as well copy paste it? Doesn't make sense to me. Not just links, but especially those.

[2015-03-03 16:21] davidmartingonzalez commented on #752
I've tried dragging and dropping a file from Windows 8.1 into uTox. The name was "Sin título.png", but there was a � in place of the í. However, the file transfer worked just fine for me.

[2015-03-04 03:12] GrayHatter commented on #792
@ElLamparto this should now be fixed in master, can you give the current master a try?

[2015-03-04 07:42] zetok commented on #230
Yes, it still "didn't" work ~3 days ago, did something change in that matter?

[2015-03-04 13:22] jf99 opened #873 "When receiving a call, the voice-call button shouldn't look the same like initiating a call"
Currently it gets yellow when you start a call yourself but the receiver didn't pick up yet. The same happens when you get an incoming call. This is confusing. I had situations when I first chatted with a friend and then we said, "ok, let's do this via voip", so i initiated a call and the button got yellow. But as the button looks the same, I thought my friend had called me in just the same moment

[2015-03-04 13:56] GrayHatter commented on #230
nope, I was just hoping it would automagicly fix itself.

DND did work for you before right? If so, can you use git bisect and tell me what commit caused the breakage? (perhaps after backing up your savefiles!)

[2015-03-04 14:31] ElLamparto commented on #792
Embarrasing question: how to pull the executable from the master?

[2015-03-04 15:19] tsudoko commented on #792
You can't really, you'd have to clone the source repository and compile the client yourself.

[2015-03-04 15:22] irungentoo commented on #792
@ElLamparto

https://dist-build.tox.im/utox_win32.zip
https://dist-build.tox.im/utox_win64.zip

[2015-03-05 08:30] codicusmaximus opened #874 "Lack of Unicode support in file names / paths"
Cannot transfer files with Japanese characters in the path on Windows running with English as "default language for non-unicode applications".  This indicates to me that file paths are ASCII instead of Unicode.

[2015-03-05 08:45] codicusmaximus opened #875 "Keyboard navigation of client"
There needs to be a keyboard-based way to navigate the client:
- Ctrl-W should close/inactivate the chat to that group/friend
- Tab / Shift+Tab should to go next / previous active chat
- Ctrl-L or Alt+D (or maybe also F6) should take your focus to the "search friends" box.  Those hotkeys were chosen since they are common hotkeys in web browsers to go to the URL box which is where you choose where

[2015-03-05 08:56] codicusmaximus commented on #610
Another vote from me on that -- this seems like a critical feature otherwise people can change their names to whatever at any time and I have no idea who I am talking to.  Friends can even play dirty tricks by swapping names Bob can rename himself Sue and Sue can rename himself Bob which can lead to some nasty surprises.

[2015-03-05 10:28] ElLamparto commented on #792
@tsudoko, @irungentoo, thank you for the exe.
The problem with avatars is solved. Thank you!

[2015-03-05 10:28] #792 closed

[2015-03-05 10:58] tsudoko commented on #610
Sure, I'd prefer the custom name to be in the parentheses, though.

[2015-03-05 11:00] tsudoko commented on #875
That would break groupchat tab completion.

[2015-03-05 11:10] aaannndddyyy commented on #610
@tsudoko That might look good. "Superman (Bob)". In that case, I suggest that alphabetical ordering be done based on the locally assigned name, because, if I look for Bob in my list, I'll expect him to be displayed in the upper part, even if he calls himself now Zero. What do you think?
And what if the nicks are already long?

[2015-03-05 14:57] LapFox commented on #91
Why close this? On 1440p this problem still stands, it's a shame #502 isn't still there, I'm getting a 404, but it would be nice to have.

[2015-03-05 17:04] Ravenlord commented on #349
+1 for smilies

[2015-03-05 17:43] tsudoko commented on #610
Well, there is a search field that could work for both custom and real names. I'm really not sure if you could do anything about names being long. I guess being able to adjust friends list width would be nice.

[2015-03-05 18:13] myroslav commented on #610
In my case - I don't care how user names herself (in specific moment of
time), my tox client would have to behave like I want it to. In this case,
I'd want to have own way of naming contacts (with sensible default of
remote name, if I didn't provide my own). There is nothing wrong with
showing the remote name somewhere (in chat title, or in some other contact
properties box), but my nicknames are

[2015-03-05 18:23] codicusmaximus commented on #875
In that case when a 1 on 1 chats is open currently the behavior would be as I mention but when in a group chat Tab would tab complete names but Shift+Tab would break out of the group chat to the most recently used 1-on-1 chat.

Keyboard navigation is extremely important.  Virtually no chat clients out there offer it and it's extremely annoying to have to keep click click click-ing back and forth b

[2015-03-05 19:44] tsudoko commented on #875
Shift-Tab does have a purpose already, it cycles backs nicks in groupchat, e.g. tab scrolls forwards, shift-tab backwards. I'm all for keyboard-driven controls, but Tab keys are taken already. What about alt+p/alt+n or alt+←/alt+→?

[2015-03-05 20:16] codicusmaximus commented on #875
alt+p/alt+n would be better than alt+←/alt+→ since the former can be hit with right hand with thumb on alt and fingers for p and n without moving away from the home row keys whereas arrow keys are annoying to move to.  But really, at this point I don't care what the exact hot key will be since eventually those would be good to make configurable anyhow.

Also regarding Tab/Shift+Tab, at least it sh

[2015-03-05 20:35] tsudoko commented on #875
Maybe tab could be used for both types if chat input field is unfocused, I'm not sure if it wouldn't be a bit confusing for the user, though.

[2015-03-05 20:41] codicusmaximus commented on #875
But how would you unfocus the chat input field?  With a click?

[2015-03-06 00:36] #841 closed

[2015-03-06 04:56] codicusmaximus opened #876 "Bad Windows IME support"
The text entry box does not support proper IME text entry support.  This causes inputting Japanese (and other Asian language text) to be a pain since the text actually shows up in a popup window at the top left of the display (0, 0) outside of the actual chat client.

[2015-03-06 05:02] codicusmaximus opened #877 "Snip tool (inlining tool) usability"
On Windows (not sure about other platforms) when you click the green button to the right of the text entry box to make the screen go gray and allow the user to click drag a region of the screen to screenshot and inline there are two important things that need to happen to make that feature usable.

1) Make it cancel-able with the Esc key.  Right now you must go through with the operation and trans

[2015-03-06 05:04] codicusmaximus opened #878 ""inline.png" filename and prompt-less over-writing of files"
A friend sent me multiple pasted images and/or screenshots/screensnips.  They were all named inline.png, I saved them all and just hit enter on the Save As prompt and it did not warn me that I was overwriting previous files.  This was on Windows.  The user should not be expected to provide file names for all of these "inline.png" files and remember what file names are taken and which aren't.  The

[2015-03-06 06:09] codicusmaximus opened #879 "Saving of files to default folder and "Open in folder""
There should be an option to configure to client to save files to a configured directory instead of nagging the user with a "Save As" dialog on every transfer.  Also, the user should be able to right click the file transfer to still access the "Save As" dialog regardless and also have the ability to open the folder the file is in with the file highlighted (open in folder).  Maybe I should spread t

[2015-03-06 06:34] codicusmaximus opened #880 "Idle detection"
The client does not do any form of idle detection on Windows and possibly other environments.  It should have a configurable amount of idle time before it sets you as "orange" or otherwise some kind of idle state.

[2015-03-06 08:48] tsudoko commented on #880
Duplicate of #604?

[2015-03-06 08:52] tsudoko commented on #404
Isn't that fixed now?

[2015-03-06 08:54] tsudoko commented on #877
I think there was a separate issue for 2, can't find it right now. Anyway, hiding the client should be optional to be able to take screenshots of the client.

[2015-03-06 11:04] fcore117 commented on #796
That i meant exactly, now i can change to dark theme, thanks who developed this.

[2015-03-06 13:49] Encrypt opened #881 "Unlabeled entries in the options menu"
Since the last update -- that is to say after the pull request #869 made by @muchweb and @GrayHatter has been merged -- the menu has unlabeled entries after the "Theme" option.

These were the "start in tray" and "close to tray" options if I remember well.

Here is a screenshot, Ubuntu 14.04

![unlabeled_entries](https://cloud.githubusercontent.com/assets/9038199/6526215/99f4fdbe-c40f-11e4-9a65-f4

[2015-03-06 13:54] Encrypt opened #882 ""Friend typing" is now written in black instead of grey"
Since the last update -- that is to say after the pull request #869 made by @muchweb and @GrayHatter has been merged -- the "friend typing" notification is now black instead of grey.

Here is a screenshot, Ubuntu 14.04

![friend_typing](https://cloud.githubusercontent.com/assets/9038199/6526296/9e73520e-c410-11e4-861c-ec1b62ba72fb.png)

[2015-03-06 15:28] tsudoko commented on #882
Happens with edit hints in "search friends" and proxy options fields as well.

[2015-03-06 15:55] fcore117 commented on #881
i wanted to report this too but yes i have same.

[2015-03-06 16:11] codicusmaximus commented on #880
Whoops -- I did do a search for "idle" to see if there was already an issue open but didn't find anythng.  Closing

[2015-03-06 16:11] #880 closed

[2015-03-06 16:42] Encrypt commented on #871
Hi @muchweb !
I can do that if you want! :)

Right now, I have done several integrations (I will soon create a PR for the "status" support in the Messaging Menu).
And @irungentoo will probably create an Ubuntu repo.

You can try the Unity integration features building uTox with UNITY=1 in the Makefile.
I think I ccan do the progress bar support this evening if it's easy enough.

[2015-03-06 17:28] codicusmaximus commented on #877
That's a good point, but I don't think taking and sending snips of the client itself is a very common use case.  Maybe holding Alt Shift or Ctrl or something like that when clicking the green box can keep the client up.

[2015-03-06 21:11] muchweb commented on #871
@Encrypt, thank you. I am not a user of ~~Amazon~~Unity myself, but I think that Ubuntu people wiil appreciate it :+1:

I've already created an issue https://github.com/notsecure/uTox/issues/862 for this

[2015-03-06 21:45] GrayHatter opened #886 "Tab complete doesn't tab complete friends names outside of a group chat."
Chatting with friend `Mike`, my other friend `Jonny` is online, I want to be able to tab-complete Jonny's name...

`you should ask our mutual friend Jo[TAB]` should change into `you should ask our mutual friend Jonny` but currently does nothing.

@theCoolkal

[2015-03-06 22:03] GrayHatter commented on #881
this is fixed is master

[2015-03-06 22:03] #881 closed

[2015-03-07 00:13] GrayHatter commented on #404
you can right click on the friend in the friends list to remove history

[2015-03-07 00:13] #404 closed

[2015-03-07 01:57] #882 closed

[2015-03-08 11:01] fcore117 commented on #877
now because of UE4 usage every day i would need too that uTox should hide when pressing snip button.

[2015-03-08 13:17] darkman088 commented on #608
You are  not completely wrong, but there are a few VERY BASIC features like setting a custom ringtone, renaming users and emoticons, just to name a few... Hence I would rather kindly encourage the great developers of uTox to focus on implementing those ones. Afterwards the community would be fully open to your URL suggestions. Thanks for your understanding!

[2015-03-08 14:43] aaannndddyyy commented on #608
@darkman088 Nobody said it should be a top priority. But copy pasting is something very basic and essential, and should simply work. Not only for URL's but any kind of text. I agree though that other features are much more important now. However, that doesn't mean utox should never support copy-paste.

[2015-03-08 20:28] GrayHatter commented on #705
@zetok can you try again? I can't seem to duplicate this in windows, I can try linux if needed too.

If so can you provide a step by step so that I can fix this?

[2015-03-08 20:36] GrayHatter commented on #705
This might be related to a toxcore issue, assuming it still exists I'll comeback to this after the new toxcore api is ready.

[2015-03-08 20:47] GrayHatter commented on #170
can't duplicate, should be fixed! Let me know if you can make this happen again

[2015-03-08 20:47] #170 closed

[2015-03-08 21:17] GrayHatter opened #893 "uTox SegFaults if IPv6 or UDP settings are changed during a active file transfer."
start a file transfer
enable/disable IPv6 or UDP in settings
SegFault

[2015-03-08 23:33] larsborn opened #895 "image of "Video Preview" is not mirrored"
The image of the local video preview should be flipped horizontally. This would be more natural because mirrors in the real world are acting the same way.

[2015-03-09 06:40] tsudoko opened #896 "uTox segfaults when trying to remove a friend after a failed transfer"
uTox 57f2fa8
[Backtraces](https://gist.github.com/tsudoko/0a77640085b1c54daf3c)
Reproducible: always
I might test it further later, steps are very specific for now
 1. Add uTox id from Antox 0.15.68
 2. Start sending a large file from Antox to uTox
 3. Wait for the transfer to fail
 4. Close Antox (the id goes offline)
 5. Remove the Antox id

Update: works with any client, just cancel the transfe

[2015-03-10 02:11] kytvi2p opened #897 "tox.c:440:5: error: format not a string literal and no format arguments"
When trying to compile 57f2fa8:

[code]

[2015-03-10 08:06] IneCmb commented on #874
Same here with Russian/Ukrainian characters, except maybe that files actually transfer, but without any name or extension.
Language for non-Unicode programs is Russian.
OS: Windows 8.1 (64-bit)

[2015-03-10 12:24] kytvi2p commented on #852
FWIW I've only seen this on the Raspberry PI w/ Raspbian

[2015-03-10 14:44] kriswema opened #898 "Translation: Duplicate strings"
What's the difference between ``CONTACTS_FILTER_EDIT_HINT`` and ``SEARCHFRIENDS``? They're both translated as "Search friends". ``SEARCHFRIENDS`` doesn't seem to be in use.

[2015-03-10 15:38] kriswema commented on #877
1. #596: see [this](https://github.com/notsecure/uTox/issues/596#issuecomment-58765536) - doesn't it work, or why wasn't it implemented?
2. #715

[2015-03-10 18:17] mohamedkomalo commented on #370
@irungentoo
like @darkman088 why utox can't be portable by default ? it would be nice if the download is just a zip file, the person can extract it anywhere he likes, and all the data are saved inside the folder.
if a person wants to update

[2015-03-10 20:31] GrayHatter commented on #898
The former will only be used as the hint text for filtering friends, the latter is general text.

You're right and I would remove SEARCHFRIENDS, but it would break stuff, and I see no real reason to remove it right now... Unless you can think of a good reason?

[2015-03-10 20:34] codicusmaximus commented on #877
Not sure if this issue should be closed due to those other two, or if they should just be merged into this one.  Is there any kind of issue upvoting on GitHub?  I feel like since there are a lot of open issues, certain ones that are pretty important but relatively easy to implement can easily get buried in the noise.

[2015-03-10 20:36] GrayHatter commented on #778
@LapFox do you have a link to the API, I'll go find it eventually, but I'm lazy...

[2015-03-10 20:37] GrayHatter commented on #707
android is available in super-alpha status...

[2015-03-10 20:37] #707 closed

[2015-03-10 20:57] kriswema commented on #898
I found an inconsistent German translation, that's why I was wondering. Duplicate strings might harbour some confusion in the future.

[2015-03-10 21:40] GrayHatter commented on #898
well, that is a good reason...

[2015-03-10 22:01] #114 closed

[2015-03-10 22:02] #149 closed

[2015-03-10 22:02] #162 closed

[2015-03-10 22:03] GrayHatter commented on #174
someone tag me if this it still does this...

[2015-03-10 22:03] #174 closed

[2015-03-10 22:05] #187 closed

[2015-03-10 22:09] #191 closed

[2015-03-10 22:11] GrayHatter commented on #369
@zugz does the link in #204 offer any help/solution?

http://www.raspberrypi.org/forums/viewtopic.php?p=89931

[2015-03-10 22:12] GrayHatter commented on #219
closed as stale, if I'm mistake, reopen this or tag me with detailed steps to reproduce

[2015-03-10 22:12] #219 closed

[2015-03-10 22:13] GrayHatter commented on #221
closing, please reopen or tagme if you still have this problem

[2015-03-10 22:13] #221 closed

[2015-03-10 22:13] GrayHatter commented on #222
closed as stale, reopen or tag me if you can make this happen on demand.

[2015-03-10 22:13] #222 closed

[2015-03-10 22:13] GrayHatter commented on #224
closed as stale, reopen or tag me if you can make this happen on demand.

[2015-03-10 22:13] #224 closed

[2015-03-10 22:14] GrayHatter commented on #225
closed as stale, reopen or tag me if you can make this happen on demand.

And if you need to reopen this, please add a lot more information

[2015-03-10 22:14] #225 closed

[2015-03-10 22:14] GrayHatter commented on #226
closed as stale, reopen or tag me if you can make this happen on demand.

[2015-03-10 22:14] #226 closed

[2015-03-10 22:14] GrayHatter commented on #227
fixed

[2015-03-10 22:15] GrayHatter commented on #188
closed as stale, reopen or tag me if you can make this happen on demand.

[2015-03-10 22:15] #188 closed

[2015-03-10 22:29] GrayHatter commented on #304
closed as stale, reopen or tag me if you can make this happen on demand.

[2015-03-10 22:29] #304 closed

[2015-03-10 22:34] GrayHatter commented on #325
Closed as CANTFIX, perhaps we could share the name@tox.id but everything I've heard about the TOXID itself tells me this is a bad idea.

tag me if you think I've missed something...

[2015-03-10 22:36] GrayHatter commented on #355
this should be fixed now, tag me if I'm wrong

[2015-03-10 22:36] #355 closed

[2015-03-10 22:42] GrayHatter commented on #362
dup of #190 coming eventually

[2015-03-10 22:42] #362 closed

[2015-03-10 22:43] GrayHatter commented on #367
closed per above

[2015-03-10 22:43] #367 closed

[2015-03-10 22:56] #396 closed

[2015-03-10 23:00] GrayHatter commented on #377
fixed according to my sources...

[2015-03-10 23:00] #377 closed

[2015-03-10 23:01] GrayHatter commented on #430
fixed

[2015-03-10 23:01] #430 closed

[2015-03-10 23:06] GrayHatter commented on #454
@karai17 are you still unable to use your PSEye?

[2015-03-10 23:06] GrayHatter commented on #453
fixed, tag me otherwise

[2015-03-10 23:12] GrayHatter commented on #517
for anyone looking to fix this, there's a number of problems with transaltion of windows native and UTF-7/8

required reading https://msdn.microsoft.com/en-us/library/windows/desktop/dd374081%28v=vs.85%29.aspx

[2015-03-10 23:17] GrayHatter commented on #519
@tsudoko I'm guessing is was a problem with the save file... reopen this if you can make it happen again/on demand

[2015-03-10 23:17] #519 closed

[2015-03-10 23:25] karai17 commented on #454
Yeah, it's still not being recognized.

[2015-03-11 01:32] GrayHatter commented on #454
`ls /dev/vid*`?

[2015-03-11 01:33] karai17 commented on #454
Windows.

[2015-03-11 01:35] Draako commented on #454
@GrayHatter: Nowadays you need pay for Windows drivers that used to be free (in case you want to look into them, I can provide them to you).

[2015-03-11 01:37] karai17 commented on #454
I am using the following driver:

https://codelaboratories.com/products/eye/driver/

[2015-03-11 10:37] calimeroteknik commented on #325
@GrayHatter It does sound like a very good idea for people to be able to give the ToxID of a friend to another, only if the friend didn't change his nospam.
It's the base principle of the nospam, right? To allow friends to give your ID to friends… until this spreads too much and you change it.

Since uTox doesn't do it, I regularly fire up qTox to do it.

[2015-03-11 10:37] muchweb commented on #325
Yes, qTox does have this function.

[2015-03-11 13:25] #897 closed

[2015-03-11 13:32] #840 closed

[2015-03-11 16:53] norgor opened #902 "Alt Gr problem in chat."
Pressing 'Alt Gr + A' selects the whole text, pressing 'Alt Gr + Z' works like backspace.
The real issue comes in when you try to use another keyboard layout like Polish, where to write some of the letters you need to use these key combinations. When you try to type the letter 'ą' you need to use the first combination 'Alt Gr + A' which deletes the whole line because it selects the whole input and

[2015-03-11 17:09] tsudoko commented on #902
Can't reproduce, selecting/undoing works for me with ctrl-a/ctrl-z, not altgr-a/altgr-z.

[2015-03-11 18:23] GrayHatter commented on #779
might be closed by #894 @tsudoko can you check too?

[2015-03-11 19:06] tsudoko commented on #779
Seems to be fixed

[2015-03-12 01:33] #779 closed

[2015-03-12 02:40] GrayHatter commented on #527
because of the way uTox redraws the screen, I don't think we want to make the text cursor bink, and I'm going to need more information about the small scroll bar...

[2015-03-12 02:40] #527 closed

[2015-03-12 02:41] GrayHatter commented on #529
Closed for lack of information, please reopen if you can describe this a little better

[2015-03-12 02:41] #529 closed

[2015-03-12 02:42] GrayHatter commented on #532
deferred until after the new toxcore API

[2015-03-12 02:43] GrayHatter commented on #534
@tsudoko can you provide a video of the problem and reopen if you still care about this?

[2015-03-12 02:43] #534 closed

[2015-03-12 02:50] GrayHatter commented on #539
reopen if you can tell me more about this one... I don't understand the problem

[2015-03-12 02:53] GrayHatter commented on #543
I think the work to gain on this one is a little off unless you want to provide a better argument for it @tsudoko?

[2015-03-12 02:53] #543 closed

[2015-03-12 02:56] GrayHatter commented on #544
this would be trivial if someone adds a new dropdown type that can convert itself to an edit type on selection of the custom entry

and would allow for many more options for all of the settings.

[2015-03-12 02:57] GrayHatter commented on #551
I tend to agree with AlexDaniel on this one, it's a mistake that I suspect a user will only make once...

[2015-03-12 02:57] #551 closed

[2015-03-12 02:59] GrayHatter commented on #552
closed as stale

[2015-03-12 02:59] #552 closed

[2015-03-12 02:59] GrayHatter commented on #555
@Doom032 do you want to take this on?

[2015-03-12 03:00] GrayHatter commented on #559
closed as stale, @shugo589 please reopen this and/or tag me if you can still make this happen

[2015-03-12 03:00] #559 closed

[2015-03-12 03:02] GrayHatter commented on #573
closed as stale. Group chats format will be changed in the near future.

[2015-03-12 03:02] #573 closed

[2015-03-12 03:03] GrayHatter commented on #579
closed as stale, @JsfN reopen and or tag me if you can still make this happen and can provide some more information

[2015-03-12 03:03] #579 closed

[2015-03-12 03:03] GrayHatter commented on #523
closed as stale @tsudoko reopen this if you can still make this happen

[2015-03-12 03:03] #523 closed

[2015-03-12 03:06] GrayHatter commented on #594
closed from #597 or as a dup of #458

[2015-03-12 03:06] #594 closed

[2015-03-12 03:06] GrayHatter commented on #458
closed as stale, please reopen or tag me if you're willing to add a PR to this

[2015-03-12 03:06] #458 closed

[2015-03-12 03:11] GrayHatter commented on #604
@tsudoko do you want to take this one on? should be simple enough...

[2015-03-12 03:12] GrayHatter commented on #605
Should be fixed in master, please reopen this or tag me if you can still make this happen

[2015-03-12 03:12] #605 closed

[2015-03-12 03:13] GrayHatter commented on #609
closed as dup

[2015-03-12 03:13] #609 closed

[2015-03-12 03:14] GrayHatter commented on #610
closed as dup of #190

[2015-03-12 03:14] #610 closed

[2015-03-12 03:17] GrayHatter commented on #616
This is really strange @ElLamparto does is still do this?

[2015-03-12 03:19] GrayHatter commented on #618
@ElLamparto does it still do this?

[2015-03-12 03:19] GrayHatter commented on #619
@dcharles525 can you try the newest version and tell me if it still does this?

[2015-03-12 03:20] GrayHatter commented on #622
@Non77 is uTox still not working on XP?

[2015-03-12 03:22] GrayHatter commented on #870
dup of #624

[2015-03-12 03:22] #870 closed

[2015-03-12 03:23] GrayHatter commented on #624
#870

Configurable notifications would be great. For now i only mention notification types for Windows

types of notifications:

flashing window (on top of systray)
flashing taskbar icon
audio notification
notification trigger:

chat message
incoming call
incoming file transfer
file transfer complete
friend request
Each notification trigger should have each type of notification as option

[2015-03-12 03:24] GrayHatter commented on #700
dup of #624

[2015-03-12 03:24] #700 closed

[2015-03-12 03:25] GrayHatter commented on #691
closed as stale, @zwischen reopen or tag me if you can still make this happen

[2015-03-12 03:25] #691 closed

[2015-03-12 03:25] GrayHatter commented on #638
dup of #624

[2015-03-12 03:25] #638 closed

[2015-03-12 03:28] GrayHatter commented on #766
I was working with file transfers last week and didn't see this anymore. @towlie do you still have this problem?

[2015-03-12 03:31] GrayHatter commented on #625
@tsudoko this would be a trivial fix, set the button as disabled when the call ends, and then set it as enabled on the next mouse over, or on the next mouse leave.

The code for this already exists in your latest PR

[2015-03-12 03:31] tsudoko commented on #539
In most applications you can scroll text in textboxes by selecting it and, while having the mouse button still pressed down, dragging your cursor outside of the box. Using arrows should work too, right now when you move the text cursor outside of the visible area it just disappears.
uTox doesn't have this, you can't scroll text typed into the search box.

[2015-03-12 03:32] GrayHatter commented on #632
Closed as stale, if you still really want this submit a PR that allows a tails package maintainer to quickly do this

[2015-03-12 03:32] #632 closed

[2015-03-12 03:33] GrayHatter commented on #633
@ElLamparto is this still a problem in the latest version?

[2015-03-12 03:34] tsudoko commented on #529
When you type a long enough message, it gets split, what the person meant is that uTox should be able to make those split messages look like a single one. I don't know if it's even possible to do right now, though; is there even a way to determine whether a received message was split?

[2015-03-12 03:41] GrayHatter commented on #631
I'm going to close this as It's just a question, but eventually uTox will encrypt the save file, but apart from that, there's really no solution to this one. If TLA does get your computer they WILL be able to impersonate you, and I really can't think of a good solution for that.

On the flip side, once toxcore supports multiple devices, if your laptop does get stolen, you can de-autht it from your

[2015-03-12 03:41] #631 closed

[2015-03-12 03:41] tsudoko commented on #534
Well, I don't have a working mouse right now, so I can't even reproduce this. If someone cares, they should respond here.

[2015-03-12 03:42] GrayHatter commented on #534
if you do care make sure you tag me too!

[2015-03-12 03:43] GrayHatter commented on #529
I understand the reason for this, but I don't really think it's crucial enough to warrant fixing...

[2015-03-12 03:47] GrayHatter commented on #637
this was just changed that <kbd>ctrl+enter</kbd> is just a new line, and because that's what **most** apps do with it, I think is should be left as it is now, unless you can think of a better argument?

[2015-03-12 03:47] #637 closed

[2015-03-12 03:47] GrayHatter commented on #643
closed as stale

[2015-03-12 03:47] #643 closed

[2015-03-12 03:48] GrayHatter commented on #645
@dtaht can you offer a bit more infomation on this one? I.e. what you wanted to happen, what really happened, why the way you want is better?

[2015-03-12 03:49] GrayHatter commented on #646
Fixed in master

[2015-03-12 03:49] #646 closed

[2015-03-12 03:51] GrayHatter commented on #647
I can't think of a solution that doesn't end in a security risk, either way losing your tox save should be fixed in master right now

[2015-03-12 03:51] #647 closed

[2015-03-12 03:51] #648 closed

[2015-03-12 03:52] GrayHatter commented on #649
dub of #636

[2015-03-12 03:52] #649 closed

[2015-03-12 03:52] tsudoko commented on #551
Well, I, for one, have removed filebot several times because I mistook it for a groupchat I wanted to unmute. But that might've been just me.

[2015-03-12 03:53] GrayHatter commented on #651
dup of #617

[2015-03-12 03:53] #651 closed

[2015-03-12 03:54] GrayHatter commented on #655
@irungentoo this is seems like a real security problem. Is this a toxcore or uTox issue?

[2015-03-12 03:58] GrayHatter commented on #656
bug 2 is a dup of #617

@irungentoo thoughts on the suggestion? would that be something trivial or super complicated? There was a request to be able to stream video files elsewhere , that might be a cool feature to add if this is something we can support?

[2015-03-12 03:59] tsudoko commented on #766
I've had this happen yesterday, can't reproduce it right now, though. Not sure under which conditions it still happens.

[2015-03-12 03:59] tsudoko commented on #691
I've had this happen yesterday, can't reproduce it right now, though. Not sure under which conditions it still happens.

[2015-03-12 04:01] GrayHatter commented on #659
@xor2003 I'm going to close this one, If you really want this feature reopen this with a discription of your use case (how you expect this should work) and why you need this feature. Otherwise this won't happen until after we hit stable...

Or you welcome to reopen this and submit a PR too

[2015-03-12 04:01] #659 closed

[2015-03-12 04:01] GrayHatter commented on #660
closed as stale

[2015-03-12 04:01] #660 closed

[2015-03-12 04:03] GrayHatter commented on #661
@xor2003 there's a build script in tools/ if you want to add a PR to this that would be super awesome. Otherwise I might get to this eventually...

[2015-03-12 04:03] AlexDaniel commented on #551
Well, if there is similar functionality that looks like remove button then it is a whole different story.
Maybe by making the Remove button **red** it will eliminate even the slightest chance to misclick it. Having other options in a dropdown requires the confirmation window though.

[2015-03-12 04:05] GrayHatter commented on #663
fixed in master, eventually utox will support multiple profiles, but until then this is blocked... and a dup of #733

[2015-03-12 04:05] #663 closed

[2015-03-12 04:06] GrayHatter commented on #664
needs toxcore support @irungentoo correct me if I'm wrong...

[2015-03-12 04:09] GrayHatter commented on #666
@irungentoo I LOVE It'sDuke's mock up, if you can provide the audio code to support muting, It'd be easy for me to write the front end.

[2015-03-12 04:10] GrayHatter commented on #672
Alt+F4 on windows, what ever your WM is on linux. There no reason for uTox to have a hotkey to close the app...

[2015-03-12 04:10] #672 closed

[2015-03-12 04:10] #673 closed

[2015-03-12 04:11] GrayHatter commented on #675
closed as a dup of #190 and of #652

[2015-03-12 04:11] #675 closed

[2015-03-12 04:14] GrayHatter commented on #682
This should be fixed in the newest master, otherwise, yeah it's alpha software and bugs do (did) exist. sorry about your data loss mate, if it's any consolation, uTox shouldn't do it now...

[2015-03-12 04:14] #682 closed

[2015-03-12 04:15] GrayHatter commented on #766
@tsudoko keep trying to make it happen, if you can figure out what causes it, I can fix it (maybe)

[2015-03-12 04:16] GrayHatter commented on #691
@tsudoko if you figure it out, tag me, or open a new very descriptive issue for it

[2015-03-12 04:16] GrayHatter commented on #551
@tsudoko do you want to try @AlexDaniel's suggestion? you wrote the code on color changing...

[2015-03-12 04:18] GrayHatter commented on #687
fixed

[2015-03-12 04:18] #687 closed

[2015-03-12 04:18] GrayHatter commented on #690
closed as stale, @zwischen reopen if you still have this issue

[2015-03-12 04:18] #690 closed

[2015-03-12 04:20] GrayHatter commented on #693
@darkman088 thanks for you feed back, all of these are either duplicates of other open issues, already fixed, or the solution for them is coming from another issue. I'm going to close this one but if you think I've missed anything, you should open a new issue. (One issue for each bug/request)

Thanks!

[2015-03-12 04:20] #693 closed

[2015-03-12 04:23] GrayHatter commented on #695
this is a bug that I know exists, and I'll try to track it down eventually, otherwise this is a dup of another issue. If you still see this once #566 is closed please reopen this, or tag me

[2015-03-12 04:23] #695 closed

[2015-03-12 04:24] GrayHatter commented on #697
I've never seen this, can you still make it happen. Groupbot never gave me this issue

[2015-03-12 04:25] GrayHatter commented on #701
dup of #617

[2015-03-12 04:25] #701 closed

[2015-03-12 04:25] GrayHatter commented on #617
per #701 @irungentoo can you make it do it for video too?

[2015-03-12 04:27] GrayHatter commented on #710
see #709

[2015-03-12 04:28] GrayHatter commented on #714
@zetok can you provide a little more information on how to reproduce this?

[2015-03-12 04:29] GrayHatter commented on #718
this would be a complete UI rewrite, I'm not gonna touch this one unless someone creates a mockup of how they want it to look.

[2015-03-12 04:29] #718 closed

[2015-03-12 04:36] GrayHatter commented on #744
fixed in master

[2015-03-12 04:36] #744 closed

[2015-03-12 04:37] GrayHatter commented on #743
superseded by #745

[2015-03-12 04:37] #743 closed

[2015-03-12 04:39] GrayHatter commented on #754
stale, tab is now used for group nick completion, maybe ctrl+tab could be used to cycle friends...

[2015-03-12 04:39] #754 closed

[2015-03-12 04:39] GrayHatter commented on #761
I've seen this with groupbot, but only on android...

[2015-03-12 04:41] GrayHatter commented on #767
#859

[2015-03-12 04:41] #768 closed

[2015-03-12 04:43] GrayHatter commented on #788
@Doom032 this one is all yours!

[2015-03-12 04:43] tsudoko commented on #691
@GrayHatter it's basically a duplicate of #766, I think

[2015-03-12 04:45] GrayHatter commented on #794
agreed seconds should be added!

[2015-03-12 04:45] GrayHatter commented on #797
dup of above

[2015-03-12 04:45] #797 closed

[2015-03-12 04:45] GrayHatter commented on #802
@tsudoko can you make this happen on demand?

[2015-03-12 04:47] GrayHatter commented on #807
@irungentoo do you know what he means? I remember you explaining this to me, but I've already forgotten what you said.

[2015-03-12 04:48] GrayHatter commented on #809
dup of above, and either way, this is a requirement for android support (currently)

[2015-03-12 04:48] #809 closed

[2015-03-12 04:48] GrayHatter commented on #233
the way dropdowns are handled is because of how android tracks mouse movement...

either way they need some work

[2015-03-12 04:50] GrayHatter commented on #828
@fcore117 that link isn't really helpful to me... I assume it's a video? I suggest youtube

[2015-03-12 04:51] GrayHatter commented on #839
this shouldn't happen in the latest version. Can you install the lastest version an report back if you can still make this happen?

[2015-03-12 04:52] GrayHatter commented on #849
drag and drop to the messages window should send the picture, into the message box should paste the link

[2015-03-12 04:56] GrayHatter commented on #691
that's still open so I'm just going to leave this one closed as superseded by #766

[2015-03-12 05:01] GrayHatter commented on #876
related to #566

[2015-03-12 05:02] Jookia commented on #655
It's a fundamental flaw in how Tox DNS works and how proxies can't handle it. So it's best to just turn it off in uTox since that's where the actual DNS requests are performed.

[2015-03-12 05:03] GrayHatter commented on #902
@norgor can you provide more information on this one?

[2015-03-12 05:06] GrayHatter commented on #873
@tsudoko I tagged you in another issues that this one is very similar too, do you want to work on this one as well? should be the same fix

[2015-03-12 05:09] GrayHatter commented on #878
@codicusmaximus let me know if you need some help getting a build environment set up!

in the meantime, I was able to solve an issue similar to this so if you need help fixing this or creating a PR let me know!

[2015-03-12 05:09] tsudoko commented on #807
When running something on Windows >=7, you can pin running applications to the taskbar, making shortcuts for them. Pinning uTox pins only the main executable, that makes the updater completely skipped since uTox doesn't call it from itself.

[2015-03-12 05:11] tsudoko commented on #802
What do you mean? It happens automatically when uTox uses NotoColorEmoji.ttf, might be the case with other fonts as well.

[2015-03-12 05:12] GrayHatter commented on #807
oh right, yeah, that's exactly what he said...

this is something that needs the decision if utox should always be a stand alone exe, or if it should try to install itself to the OS,

[2015-03-12 05:14] GrayHatter commented on #702
[code]

[2015-03-12 05:22] tsudoko commented on #714
Just try pasting the text under "Text ↓" into the groupchat.

[2015-03-12 05:37] tsudoko commented on #873
I think changing how the icon looks like for incoming calls wold be better, perhaps animate it if it's not too difficult? I remember @ItsDuke have made a nice animation for that, can't find it right now, though.

[2015-03-12 06:18] ItsDuke commented on #873
@tsudoko I believe this was the one you meant?

![click](https://cloud.githubusercontent.com/assets/7714365/6613096/16846fe8-c85e-11e4-9b4f-d908bd8689eb.gif)

[2015-03-12 06:19] GrayHatter commented on #714
so, this is a tox core issue. I'm going to report it there...

interestingly, if you remove the additional spaces from the end, it does work, or if you delete any 1 line it will also work... so I think WTF applies...

[2015-03-12 06:30] tsudoko commented on #873
Wasn't incoming call animation a shaking phone receiver? Maybe something have changed.

[2015-03-12 06:47] ItsDuke commented on #873
@tsudoko Oops! My mistake.

![ring](https://cloud.githubusercontent.com/assets/7714365/6613370/15f2814c-c862-11e4-86e4-e9acb79e1658.gif)

[2015-03-12 10:27] GrayHatter commented on #873
the latter would actually be SUPER easy to implement!

[2015-03-12 10:29] fcore117 commented on #828
do not know better way to help anymore, you cannot download this?

[2015-03-12 10:31] GrayHatter commented on #828
It crashed by browser twice, if you can't upload it to youtube, maybe you might be able to discribe step by step what utox is doing vs what you expect it to do?

[2015-03-12 10:38] fcore117 commented on #828
suggest me upload site that works for you or transport way, i do not know to describe better than video

[2015-03-12 11:10] v2e commented on #637
In most cases I use "Shift+Enter" for the new line, and "Enter" and/or "Ctrl+Enter" for sending. Isn't it better?

[2015-03-12 11:41] redmanmale commented on #839
@GrayHatter
Confirm fix. In latest version (0.2.o) it didn't happen anymore. Thanx.

[2015-03-12 12:17] #839 closed

[2015-03-12 12:38] Xunie commented on #453
@GrayHatter
I just ran the latest version and it still isn't fixed.
I'm still getting obnoxiously low audio volume on my end.
I didn't see any commit that supposedly fixed this. Which commit would have fixed this problem?

[2015-03-12 16:00] GrayHatter commented on #453
@irungentoo

[2015-03-12 16:56] aaannndddyyy commented on #624
Or simply changing the name or avatar in the list, so I can see where new messages are.

[2015-03-12 17:27] irungentoo commented on #453
@Xunie tell your friend to enable audio filtering in their client if you can't hear them.

[2015-03-12 19:18] Xylemon commented on #430
I hope these clients can get video group calls soon!

[2015-03-12 20:00] nachfuellbar opened #904 "ugly user settings german"
User settings are really ugly in german
![tox](https://cloud.githubusercontent.com/assets/5123484/6626902/86b0680c-c8fa-11e4-987c-50745dfa8a2f.PNG)

[2015-03-12 20:14] nachfuellbar commented on #622
@GrayHatter even if this wouldn't work on win xp; would you really support an operating system which isn't supported by its producer? (almost one year now)

[2015-03-12 20:25] nachfuellbar opened #905 "uTox Android"
Utox doesn't scale on Android (FHD Display); can't use button on right top
![screenshot_2015-03-12-21-17-46](https://cloud.githubusercontent.com/assets/5123484/6627351/ce7a9fb0-c8fd-11e4-9e25-49567321c6d4.png)
can't scroll; IP settings fields after "Language"
![screenshot_2015-03-12-21-18-06](https://cloud.githubusercontent.com/assets/5123484/6627356/d323d860-c8fd-11e4-8ee1-acf9f3f46051.png)
can't

[2015-03-12 22:32] dcharles525 commented on #619
@GrayHatter I can't seem to reproduce it anymore, will reopen if there is any issues.

[2015-03-12 22:32] #619 closed

[2015-03-13 01:54] GrayHatter commented on #208
dup of #169

[2015-03-13 02:24] GrayHatter commented on #622
per irungentoo: there's more people on WinXP than Win8, or than every other non windows OS combined.

[2015-03-13 02:31] GrayHatter commented on #370
closed as fixed tag me if I missed something

[2015-03-13 02:31] #370 closed

[2015-03-13 03:32] Nsheppard01 opened #907 "No notification from group chats."
There is no notification of new incoming messages from a group chat. This causes me and my friends to miss conversations. Please add them.

[2015-03-13 10:23] Encrypt commented on #907
That's a good idea indeed...
Which kind of notification would you like on groupchats?

Would you like the same behaviour as IRC, that is to say you would get a DBus notification when your name is mentionned (that may be difficult to implement though).

Give us more details ;)

[2015-03-13 12:44] wups opened #908 "Theme not saved"
The new theme option does not get saved yet in utox_save.

I have also seen that some effort was made to convert an older save version. I think something like this is not required in such an early development state (alpha). It already starts to bloat the souce code.
Would it possibly be worth to find a file format, which is more robust against changes or additions?

[2015-03-13 13:00] nachfuellbar commented on #905
uTox on Android uses to much energy
![screenshot_2015-03-13-08-11-09](https://cloud.githubusercontent.com/assets/5123484/6638700/f7e6c5b4-c988-11e4-9cc0-5db33fe6c4c7.png)

[2015-03-13 13:10] wups opened #909 "Suggestion: Move typing notification to friendslist"
The typing notification directly in the chatarea is - at least to me - very annoying.
My suggestion is to move it to the friendslist and display it as a change of the status icon of the respective friend.
This also has the advantage, that all typing notifications can be displayed, not only the one of the currently active chat-window.

Possible graphical representations could be changing the color

[2015-03-13 13:17] nachfuellbar commented on #909
I think typing notifications should stay in the chatarea (because you see if someone is typing while you write your own message)
Typing notifications should be optional (if you want them in chatarea or friendlist or maybe both)

[2015-03-13 13:20] towlie commented on #766
It still happens and is easy to reproduce. Just send a file to someone, cancel the filetransfer and let the contact go offline. Everytime the contact goes offline you will get that notification and that what you see in my first post.

[2015-03-13 13:22] norgor commented on #902
I just found out that it doesn't affect the English keyboard layout, but others like Norwegian and Polish are affected.

[2015-03-13 13:31] tsudoko commented on #902
It's fine here on both Polish and Norwegian layouts. Are you using Windows?

[2015-03-13 13:34] tsudoko commented on #908
Is there a robust binary format that doesn't require a whole library to use? One of uTox' goals is to have as few dependencies as possible.

[2015-03-13 13:34] norgor commented on #902
Yes, I am using Windows 8.1. I asked some of my friends to change their keyboard layout, they had the same issue.

[2015-03-13 13:41] tsudoko commented on #902
It's a Windows-only issue, then; doesn't happen either on Wine or Gentoo.

[2015-03-13 14:19] wups opened #910 "Collapsible sidebar?"
Depending on how you use a chat program, showing the sidebar (friend list) all the time is not necessary (e.g. staying in one chat most of the time).
For me, a chat program typically receives 1/6 to 1/4 of the desktop's space. At these dimensions, collapsing the sidebar when not needed would really help.
Would this be an option for uTox?

[2015-03-13 14:28] tsudoko commented on #910
#348

[2015-03-13 14:53] norgor opened #911 "Doesn't automatically detect sound input/output devices."
As the title says, it doesn't regularly check for input/output which forces the user to restart uTox everytime he/she plugs in a headset.

[2015-03-13 16:09] sinni800 opened #912 "Can't screen share second screen LEFT of main screen (Windows)"
When I choose a rectangle on a different screen to record with Tox, this happens:

![image](https://cloud.githubusercontent.com/assets/2879097/6642257/99fe984e-c9a3-11e4-947c-2257b6020575.png)

It will choose the correct window size, but nothing will be there.

This only happens on screens that are on the *left* of the main screen, though. The rectangle will, weirdly, be drawn not where my mouse i

[2015-03-13 16:22] ElLamparto commented on #616
Last time it appeared about 2 weeks ago (I do not reboot Debian too often).
Please keep the bug open - I shall update it after test.

[2015-03-13 16:22] ElLamparto commented on #618
No, it has been fixed.

[2015-03-13 16:22] #618 closed

[2015-03-13 16:23] ElLamparto commented on #633
No, it has been fixed recently.

[2015-03-13 16:23] #633 closed

[2015-03-13 16:27] ElLamparto commented on #617
Device selection settings are saved all right. As for the combo box behaviour, I don't care.

[2015-03-13 16:27] #617 closed

[2015-03-13 16:29] tsudoko commented on #912
Related(?): #738

[2015-03-13 17:35] sinni800 commented on #912
@tsudoko It has the "screenshot box pull up" issue that I described, but not the "it doesn't record *at all* if the main screen is not the leftmost one" issue...

[2015-03-13 20:30] fcore117 commented on #828
It was issue with official portable command, now it should be fixed.

[2015-03-13 20:30] #828 closed

[2015-03-13 21:39] Doom032 commented on #788
I got stuck on this with the bicubic filtering a while ago. I've been wanting to use some of the GIMP source code to do it(it supports bicubic filtering when resizing), and I've found the functions I need to do it with. It's just that I'm not sure of how to integrate it well for our purposes. I'll look at it again tomorrow.

Bicubic filtering is necessary because of the big improvement in image qu

[2015-03-13 21:53] raisingw commented on #908
Just to confirm that the theme setting does not save on Ubuntu 14.10 (can't get my preferred dark theme to stick), but DOES save on Windows XP, weirdly.

[2015-03-14 00:26] GrayHatter commented on #905
@nachfuellbar each of these should be it's own issue...

[2015-03-14 00:26] #910 closed

[2015-03-14 00:29] GrayHatter commented on #908
@wups if you're willing to submit a PR to change the utox_save code I'm happy to look into it. But @tsudoko is right, uTox's goal is to be as small and light weight as possible.

[2015-03-14 00:53] GrayHatter commented on #907
@Encrypt if you want to work on this look at #624

closed as dup

[2015-03-14 00:53] #907 closed

[2015-03-15 15:14] dennisnez commented on #853
I changed the pixelformat from V4L2_PIX_FMT_YVU420 to V4L2_PIX_FMT_YUV420 (which is what my yuv4mpeg_to_v4l2 program was outputting) in utox's xlib/v4l.c (line 67), and that got rid of most of the distortion -- now the image is crisp, but the colors (reds and blues) are swapped. (Again, mplayer can play it fine.)

[2015-03-15 17:35] naryl commented on #909
IMO friendist notification is not as annoying nor as useful so you can make them enabled at all times.
Chatarea notifications should be optional but it's a non-essential option so it shouldn't occupy space on the Settings tab.

[2015-03-15 23:53] atgote opened #913 "Feature request: video compression options"
First of all - the video transmission in the uTox as it has appeared was great! The picture quality was 100% as it seemed. However, some time later a high compression was enabled and picture quality for the moment is not so good. I don't know if it can be set in the client app or it must be compiled in the toxcore library, however, in our (at least two users))) opinion it would be great to enable

[2015-03-16 21:58] GrayHatter commented on #913
This is handled exclusively by toxcore. Maybe submit this there?

[2015-03-16 21:58] #913 closed

[2015-03-17 06:27] atgote commented on #913
Submitted there.
https://github.com/irungentoo/toxcore/issues/1291

[2015-03-17 14:05] redmanmale opened #915 "Wrong symbol appearance"
Symbol 'ё' with normal DPI (100%) is visually indistinguishable from 'é'.
![100%](http://puu.sh/gE3FY/ec1fd8bffa.png)

With bigger DPI (150%) it seems normally.
![150%](http://puu.sh/gE3Kp/6ef01a3a38.png)

In skype, for a example, with the same font size symbols are clear.
![100%skype](http://puu.sh/gE3Rv/d5ed41581b.png)

Win7 x64, Win 8.1 x64, v.0.2.o

[2015-03-17 15:18] GrayHatter commented on #915
@redmanmale can you provide the first two pictures again but with a line of at least 10 of each? maybe throw in some spaces as well?

[2015-03-17 15:51] redmanmale commented on #915
@GrayHatter
100%
![100%](http://puu.sh/gE973/49d492f8f7.png)

150%
![100%](http://puu.sh/gE9bS/67354c14d0.png)

[2015-03-17 15:53] GrayHatter commented on #915
@redmanmale thanks! what happens when you set it to tiny? (75%)

[2015-03-17 16:07] redmanmale commented on #915
@GrayHatter Tiny is 50%. And it makes my eyes hurt.
![50%](http://puu.sh/gEa2b/60dd5c59c6.png)

[2015-03-18 17:09] normalST opened #916 "uTox voice chat laging"
Hey there.

So the problem is, that the voice chat laging when processor is intensively loaded, usually its happens while playing the game, or when using a lot of programs at the same time, with browser, or even when code is being compiled.

Windows XP x86, and windows 8.1 x64, tested on both.
uTox version: 0.2.o
Don't have this problem with skype, or steam voice chat.
Processor: AMD Athlon64 X2 3

[2015-03-18 17:52] IneCmb commented on #916
Happened here when rendering something.

[2015-03-18 20:01] irungentoo commented on #916
Try disabling audio filtering.

[2015-03-19 11:39] normalST commented on #916
Disabling audio filtering is helping I guess, but now the volume level in voice chat is really low, is there solution for that? I can still hear the person that I calling to, but very quiet, there's no such problem with audio filtering enabled.

[2015-03-19 13:49] Doom032 commented on #548
This can be abused by instead of inviting someone to voice chat, inviting them to group chat and then using voice. The user will hear the other's audio suddenly without accepting anything.

[2015-03-19 13:53] Doom032 opened #919 "groupchats share the same input box buffer"
steps to reproduce
1. join / create a groupchat
2. join / create another groupchat
3. type something in the input box groupchat 1, but don't send
4. switch to groupchat 2

result
You'll see the text you typed visible in the input box groupchat 2

expected result
The input box is cleared, and the text you entered in groupchat 1 comes back when you switch to that groupchat. This is what happens when

[2015-03-19 14:58] tsudoko commented on #919
Well I'd prefer a shared buffer for every chat, but I'm probably the only one.

[2015-03-19 16:48] Doom032 commented on #919
@tsudoko Why? For me the general use case for me is that I'm typing a message to a friend and suddenly get a message from someone else, answer him, and go back to my unfinished message.

[2015-03-20 09:04] calimeroteknik commented on #794
I'd be even more useful if we also had the date of the day each time it changes. Otherwise, the timestamps in the history aren't that useful: you get the time, but which day was it?

[2015-03-20 18:11] tsudoko commented on #794
@calimeroteknik #555

[2015-03-21 07:20] tsudoko opened #921 "After leaving a group chat friends list sometimes takes a long time to redraw"
Long time == more than 1s

[2015-03-21 12:54] zetok commented on #227
Does µTox have VAD now?

[2015-03-21 12:56] normalST commented on #916
A little update on disabling audio filtering, long story short, it didn't help, it only make volume level lower. -.-

[2015-03-21 13:03] irungentoo commented on #916
Audio filtering is the most CPU intensive audio related thing in uTox which is why I thought it was the issue in this case.

What kind of CPU do you have?

[2015-03-21 13:10] normalST commented on #916
AMD Athlon64 x2 3800+ (2.0Mhz)
A bit old I know, but as I was saying there is no such problem with other voice chats.
And please do not tell me to use them instead of uTox. T_T

[2015-03-21 14:55] irungentoo commented on #916
Is the sound you hear lagging or the sound the other person hears?

[2015-03-21 15:10] normalST commented on #916
It's both actually, when my CPU on 100%, I don't hear other person, and he don't hear me, it's not continously lagging, it's like waves, for example:

"1" is all ok
"0" is everything is not ok, we don't hear each other, voice just lagged.
Visualy it'l be something like: 1100011111101010110001100111...

[2015-03-21 16:10] irungentoo commented on #916
https://wiki.tox.im/Binaries/debug

Can you try these builds and tell me what it prints in the cmd window when it lags?

[2015-03-21 17:06] tsudoko commented on #364
Can reproduce on Gentoo
Try pasting contents of http://a.pomf.se/njtwjg.txt into uTox.

[2015-03-21 19:09] normalST commented on #916
There's a lot of the same message, and the interesting part is, that my CPU is not loaded on 100% when debug version was online, it was loaded around 15-25%. memory and disk usage are low too, but lag was there anyway!

On the second test, there is no lag on 15-25% CPU, so I started browser with youtube video and twitch at the same time, 100% CPU load in no time, and lag too, log files are missing

[2015-03-22 00:14] 2a03 commented on #909
What is **really** annoying is the fact that *whole page of previous messages scrolls up while typing notification appears and then scrolls back*. Either it should happen once and then be replaced with whitespace without scrolling back, either there always should be a blank line after last message, to be replaced with «typing» when notification arrives.

[2015-03-23 15:21] ElLamparto commented on #616
It still does not work, tested on 2 machines with Debian Stable with webcams Philips SPC 1000NC and µTox 0.2.n.
Most likely some camera initialization is missing.

[2015-03-23 21:33] atgote commented on #877
Just want to thank codicusmaximus for this issue. I was going to add this (actually, the second one) to the list when noticed this. Awaiting this to be fixed...

[2015-03-24 10:31] Doom032 commented on #921
Not sure if this is the same, but I've noticed that if I fill up my screen with groupchats so the scrollbar starts appearing in the friends list, and then scroll down, and leave any groupchat, the whole friends list disappears except for the last groupchat, until I move my mouse. Then it becomes as it should be again. This effect does not disappear after removing enough groupchats to remove the sc

[2015-03-24 10:43] Doom032 commented on #877
I agree with the escape key to cancel but I'm not sure about defaulting to hiding the client. I screenshot things in the client pretty often, and I think ctrl+clicking for that would not be obvious enough. Nevertheless I've also been annoyed by µTox being in the way when wanting to screenshot something else, so I understand there should be a way to do this apart from alt+tabbing around.

Maybe rig

[2015-03-24 11:02] fcore117 commented on #877
perhaps auto minimize to taskbar(should work all os-es) when clicking snip button?

[2015-03-24 13:38] #919 closed

[2015-03-24 15:35] GrayHatter commented on #877
Tool tip: "shift + click" will hide utox

On Tue, Mar 24, 2015, 04:02 fcore117 <notifications@github.com> wrote:

[2015-03-24 15:52] tsudoko commented on #877
I think a tooltip needs to describe what the button is for as well, it's not really obvious.

[2015-03-25 07:25] kovtunos opened #929 "Copy (no names) by default"
Default behaviour of copying text in chat window is very annoying. Can you add an option to switch between "copy" and "copy (no names)"?

[2015-03-25 07:35] darkman088 commented on #370
@GrayHatter - what exactly is the fix. I didn't see a consensus on some of the suggested solution. The --portable option is not a transparent solution, as it is not obvious from the interface. Thank you!

[2015-03-25 07:42] darkman088 commented on #631
Sorry, can please just somebody bother to answer me this brief question from my post: "Also, what will happen if 2 computers start a tox client with the same ID file... ? Has anyone thought of this or tried it out ?" Many thanks in advance!

[2015-03-25 07:51] darkman088 commented on #190
@GrayHatter - thank you for all the effort to reference all the discussions about this topic. But unfortunately all of the referenced topics have been closed, and the current one contains nothing but the references to those closed topics. Here I am afraid, that I'm seeing a deadlock - closed topics pointing to each other. And as there are no other posts here, I am afraid that this topic is stalled

[2015-03-25 07:57] fcore117 commented on #370
At least it can be made portable somehow and i use it absolutely every day.

[2015-03-25 09:08] GrayHatter commented on #190
@darkman088 sorry deleted that branch which closed the PR by mistake. This hasn't stalled, just put on the back burner until everyone recovers from the new major core api break/update

[2015-03-25 09:09] GrayHatter commented on #929
@kovtunos eventually, as I've been annoyed by that feature as well

[2015-03-25 09:19] shalnoff commented on #169
Tray Icon doesn't appear and doesn't work in Mate (classic Gnome fork) as well as in LXDE.
Standard window icon doesnt show as well.
Please fix it. It's really annoying issue that makes uTox realy uncomfortable to use.

[2015-03-25 09:23] shalnoff opened #930 "no tray icon in Mate (classic Gnome fork) as well as in LXDE"
There are no icons in both: window and tray (whatever settings is set). And it doesn't minimise on close as well. It makes application really uncomfortable to use.

[2015-03-25 10:33] fcore117 commented on #169
do Linux should have this feature yet? i have not seen it on my Ubuntu gnome-flashback?

[2015-03-25 10:36] calimeroteknik commented on #169
@shalnoff don't be grumpy like that; this isn't a bug, it's that the feature is not implemented yet.
If you feel like helping with it or paying somebody to do it, I'd also be delighted.

[2015-03-25 13:31] atgote commented on #904
The same is true for the Russian localization.
![tox_gui_ru_bug](https://cloud.githubusercontent.com/assets/3784291/6825549/0922aac6-d304-11e4-9c8c-d3851f3810ea.png)

[2015-03-25 16:48] fcore117 commented on #929
for me this is really frustrating too, please swap.

[2015-03-25 21:38] tsudoko commented on #929
What's wrong with the current behavior?

[2015-03-25 21:51] GrayHatter commented on #929
if someone sends you a message that you want to copy, URI, password, email address, and you select the *simple* option, you get extra data you don't want.

It boils down to:
[code]
when it should work like
[code]

[2015-03-25 21:54] fcore117 commented on #929
i do lot searches with text and pass text to others and so many times i curse when name has hovered with text.

[2015-03-26 02:49] Nsheppard01 opened #933 "Feature Request: Screenshare in group chat."
Right now it's possible to set the video input as desktop and audio input as loopback, and use that to stream a movie or game to a single person. But there is no way to do this to multiple people.

Would it be possible to a group livestream feature? (or even a group video chat feature) The former could be used to allow the creation of decentralized television broadcasts that do not require relying

[2015-03-26 02:58] Nsheppard01 opened #934 "uTox opens new window offscreen (windows 7)"
I normaly use a two monitor setup, but right now I do not have both monitors with me. Whenever I try to open a new instance of uTox however, it creates the new window offscreen, presumably where the other monitor would be.

I can move the window over by shift clicking the taskbar icon and then selecting the move option. But this is inconvenient and took some figuring out. This also happens each ti

[2015-03-26 03:24] tsudoko commented on #933
Yes, it's planned, but toxcore doesn't support that yet.

[2015-03-26 03:26] tsudoko commented on #929
I find myself using `Copy (no names)` less often, but fine. Thought about changing how ctrl-c works, i.e. about making it not prepend a name when there's only a part of the line selected.

[2015-03-26 05:10] GrayHatter commented on #929
@tsudoko if you're selecting more than one message you probably want names

On Wed, Mar 25, 2015, 20:26 tsudoko <notifications@github.com> wrote:

[2015-03-26 05:34] Xylemon commented on #930
As far I know, Tray Icon support doesn't work on Linux. I hope it does soon, because it's been long overdue...

[2015-03-26 06:11] fcore117 commented on #929
from my view this is not some important feature and there is other features that has much higher priority currently. I myself use more (no names), but i do not know which selection is preferred by others in general.

[2015-03-26 06:51] GrayHatter commented on #930
dup #169

[2015-03-26 06:51] #930 closed

[2015-03-26 16:34] Nsheppard01 commented on #933
Why not? Toxcore clearly supports streaming video to a single user.

In the mean time, what about being able to switch between camera and desktop video, or using both loopback and microphone for audio-imput?

[2015-03-27 20:51] ace13 commented on #787
I would like to see links underlining on hover.

Underlined links are in basically every other chat / web software out there after all.

[2015-03-27 21:23] tsudoko commented on #787
Underlined links are ugly, haven't seen them in a long time.

[2015-03-27 22:17] ace13 commented on #787
Some sort of feedback of the hovering of a link at least, I'd be perfectly fine with something like a slight color change, or anything else. Just some sort of feedback that I'm hovering over an interactive piece of text.
But underlining links on hover has been the standard for a long time now, and you can see them being used everywhere (including here on GitHub).

[2015-03-28 11:08] kozross opened #936 "uTox segfaults almost immediately"
I just tried launching uTox, and I got the following:

Read 84 bytes (/home/koz/.config/tox/utox_save)
have GTK
new tox object ipv6: 1 no_udp: 0 proxy: 0  0
Segmentation fault (core dumped)

This has never happened before

[2015-03-28 12:20] irungentoo commented on #936
where did you download the build?

[2015-03-28 16:33] GrayHatter commented on #787
I think the color change is a good idea. I'm also not opposed to underlining them, but I do think a mild color change would be a nicer UI decision. Maybe make links a little closer to the surrounding text and then pick a bold color on mouseover?

@tsudoko thoughts?

[2015-03-28 20:11] GrayHatter opened #937 "Race condition in messages.c"
line 76:    ` MSG_IDX i, n = m->data->n;`

will sometimes be greater than

line 78,79:
[code]

[2015-03-28 20:12] GrayHatter commented on #937
only happens when sending a new file to a friend

[2015-03-28 20:43] kozross commented on #936
It's the latest utox-git from Parabola's PCR. This *should* be the same as the latest AUR build.

[2015-03-29 01:30] GrayHatter commented on #936
@kozross can you run it with gdb and get a bt?

I can provide directions if you need them...

[2015-03-29 01:41] kozross commented on #936
@GrayHatter Should I just do ``gdb utox`` and then ``run``?

[2015-03-29 02:04] GrayHatter commented on #936
yeah, if it segfaults again then bt, and copy all of that into a https://gist.github.com

[2015-03-29 02:48] kozross commented on #936
@GrayHatter [For your viewing pleasure][1].

[1]: https://gist.github.com/kozross/30db3d6bc28b97c55aaa

[2015-03-29 02:50] GrayHatter commented on #936
what OS are you on?

[2015-03-29 03:51] kozross commented on #936
@GrayHatter Parabola GNU/Linux-libre.

[2015-03-29 03:54] GrayHatter commented on #936
@kozross can you clone the git repo and...

[code]

The version you're using omits debugging symbols...

[2015-03-29 04:11] kozross commented on #936
It seems that cloning *that* one works perfectly. I'll contact the package maintainers and ask them to rebuild the package using the current source.

[2015-03-29 04:16] GrayHatter commented on #936
they (or you) may need to upgrade toxcore, but if that was the case, you wouldn't be able to compile.

Thanks for the report @kozross

[2015-03-29 04:16] #936 closed

[2015-03-29 04:18] GrayHatter commented on #934
@Nsheppard01 I think I know how to fix this but until I can get around to it... https://xkcd.com/1479/

[2015-03-30 13:55] IneCmb opened #941 "Problems with Kerning"
Letters is not alongside.

Have not seen this problem in other IM applications.

[2015-03-30 16:49] GrayHatter commented on #941
Are you sure those are the same fonts? (I only ask because it may be as simple as changing the font order)

[2015-03-30 17:00] IneCmb commented on #941
Various fonts
Steam use `Arial` and Skype is `Segoe UI`

Also found that in 200% DPI all looks fine

[2015-03-30 17:01] GrayHatter commented on #941
that is super helpful, I'll take a look soon, is it unusable or just difficult?

[2015-03-30 17:13] IneCmb commented on #941
200% DPI is unusable for me.

[2015-03-30 17:38] GrayHatter commented on #941
and it's still broken at 150%?

[2015-03-30 17:42] GrayHatter commented on #915
see also #941

[2015-03-30 17:57] IneCmb commented on #941
Less, but still can see.

[2015-03-30 18:40] IneCmb commented on #941
Its really strange... On other machine problem is disappear...

![compared](https://cloud.githubusercontent.com/assets/10771557/6903771/419ad098-d725-11e4-815a-b4ba8ca8f88a.png)

I will try to fix this issue by myself on my local PC.

[2015-03-30 19:05] GrayHatter commented on #941
Windows?

On Mon, Mar 30, 2015, 11:40 IneCmb <notifications@github.com> wrote:

[2015-03-30 19:10] IneCmb commented on #941
Windows 8.1 64-bit on both machines.

[2015-03-31 06:59] IneCmb commented on #941
Tried many different things such as fully reinstalling uTox, fonts, drivers, loading safemode... Nothing helped.
Remember having this problem with my friend from a 0.1 uTox, but few days ago he update hardware and moved from XP to 8.1 and problem for him was resolved.
Found also that qTox shows text correctly.

[2015-03-31 07:22] GrayHatter commented on #941
Are both screen resolutions native?

Are either using high dpi scaling?

What are the actual hardware? (Maker and model number?)

[2015-03-31 08:32] IneCmb commented on #941
Yes
Using default (Smaller - 100%)

If I get you correct
Motherboard: `ASUS P5Q SE2`
CPU: `Intel Core 2 Duo E8600 @ 3.33GHz (2 CPUs)`
GPU: `ASUS EN 9600 GT 512MB`
SPD: `Kingston 2 GB DDR2-800` (x2)

[2015-03-31 09:42] GrayHatter commented on #941
can you try disabling high dpi scaling for utox under program compatibility

On Tue, Mar 31, 2015 at 1:32 AM, IneCmb <notifications@github.com> wrote:

[2015-03-31 09:57] IneCmb commented on #941
Not helped

[2015-03-31 14:31] nikwen opened #944 "uTox prefixes messages with the message ID and expects incoming messages to have that prefix as well"
When printing out the hex values of the messages sent by uTox and received by another client, they look like the following: 0000000174657374. The next one is 00000002746573742032. The numbers before the actual messages ("test" and "test 2" in the examples) keep increasing by one after every received message.

I'm using the new API. When messages are sent by toxic, there are no such numbers before

[2015-03-31 16:48] GrayHatter commented on #944
@nikwen I'm assuming you're running the newest uTox, and your friend is running qTox? If so, that's a qTox bug, they're still using the old version of toxcore. You can submit an issue to them, but they already know and working on it

[2015-03-31 16:51] GrayHatter commented on #941
What is the screen resolution for both systems?

[2015-03-31 16:54] #371 closed

[2015-03-31 16:55] GrayHatter commented on #445
Done any replaced by newer issue

[2015-03-31 16:55] #445 closed

[2015-03-31 16:56] GrayHatter commented on #622
Stale

[2015-03-31 16:56] #622 closed

[2015-03-31 16:57] GrayHatter commented on #697
Stale, and I think a toxcore issue as well

[2015-03-31 16:57] #697 closed

[2015-03-31 16:58] GrayHatter commented on #645
Stale, and probably a toxcore issue, you should submit this there

[2015-03-31 16:58] #645 closed

[2015-03-31 16:59] GrayHatter commented on #766
Fixed in master

[2015-03-31 16:59] #766 closed

[2015-03-31 17:01] GrayHatter commented on #358
Stale, and duplicated else where

[2015-03-31 17:01] #358 closed

[2015-03-31 17:03] IneCmb commented on #941
1680 × 1050 and 1440 × 900

[2015-03-31 17:04] GrayHatter commented on #905
Stale,

And android is still experimental

[2015-03-31 17:04] #905 closed

[2015-03-31 19:03] nikwen commented on #944
@GrayHatter Thank you very much for your reply.

I've been using uTox to test my self-written Tox client which I updated to use the new API today. However, I'm seeing the issue described above. When I communicate with my own client using Toxic (which also uses the new API), everything works fine.
The same behaviour can be seen when exchanging messages between uTox and Toxic.

Therefore, I believe

[2015-03-31 19:17] GrayHatter commented on #944
where'd you get your utox?

[2015-03-31 20:58] redmanmale opened #945 "Problem with symbol appearance in notification"
In tray notification last symbol of new message text appears wrong, looks like this:
![100%](http://puu.sh/gWNGU/5b48874f0a.png).

The message itself is looks fine.
v. 0.2.o, Win 8.1 x64.

That's my thoughts about it:
- Text in message is longer than notification.
- Text in message is in Unicode (UTF-8 maybe) encoding, so one symbol consists of several bytes.
- Text in message cut off, so in notif

[2015-03-31 21:02] GrayHatter commented on #945
#dup of 740

[2015-04-01 00:34] #945 closed

[2015-04-01 07:26] kozross opened #947 "uTox behaves very strangely"
Whenever I try to contact my friends, all their messages keep repeating, and apparently, uTox tries to send them random (very large!) files. I have tried a clean install of the client, every supporting library, and even changing IDs - none of this works! I have no clue what is going on or why.

[2015-04-01 13:48] irungentoo commented on #947
The downloads at the bottom of the binaries page are on new api core, those big file transfers are just the new way avatars are sent. The reason the files look big is because of protocol changes.

[2015-04-01 14:26] #740 closed

[2015-04-01 17:22] nikwen commented on #944
I was using the one from the debian repository on multiple debian-based Linux distributions (Linux Mint and Ubuntu 14.10). I used the one which was available yesterday. (The same applies to the Toxic version I used for testing.

Try the following: Download the latest version of Toxic and send a message to uTox. The first 4 characters should be missing.

[2015-04-01 17:36] irungentoo commented on #944
The uTox builds in the Tox linux repo and from the windows updater are not on the new api yet because we are waiting for qTox.

[2015-04-01 17:50] nikwen commented on #944
@irungentoo Thank you very much for your comment. It's my fault then, so feel free to close this issue.

Am I right that the Toxic version from the repo already uses the new API? Thanks again. :smile:

[2015-04-01 18:07] #944 closed

[2015-04-01 18:12] GrayHatter commented on #947
That because qTox thinks it's a good idea to try to send messages infinitely, instead of failing after a few attempts...

[2015-04-01 18:12] #947 closed

[2015-04-01 18:12] GrayHatter commented on #947
Closed because this is a qTox problem, you should tell them to update to a client that uses the new core...

[2015-04-01 18:19] redmanmale commented on #945
Sorry, next time will lurk a little more in open issues.

[2015-04-01 19:25] GrayHatter commented on #945
@redmanmale no worries, you actually got me to fix it. Thanks for the bugreport never be afraid to submit a bug, worst case I close it as a dup and I know which are effecting the most people.

[2015-04-01 19:26] GrayHatter commented on #896
@tsudoko can you pull my file_resume branch and test this segfault?

[2015-04-01 20:35] #929 closed

[2015-04-02 11:17] tsudoko commented on #896
Can't reproduce.

[2015-04-02 11:18] #896 closed

[2015-04-02 11:33] GrayHatter commented on #227
Closed as not a uTox problem. But it should be fixed in filter_audio soon too...

maybe?

[2015-04-02 11:33] #227 closed

[2015-04-02 11:44] GrayHatter commented on #84
blocked by #169

[2015-04-02 11:57] tsudoko commented on #227
Does VAD have anything to do with audio filtering?

[2015-04-02 12:11] GrayHatter commented on #227
yeah, IIRC damo said he's trying to add voice detection to echo cancellation, and with that he's going to try to reject everything if the user isn't talking. Makes echo canceling easier and more accurate. But I'm not a sound guy so you'll have to ask him.

[2015-04-02 20:54] tot-to commented on #796
The dark theme is awesome! Almost exactly what I wanted.
Thanks a lot!

[2015-04-03 02:39] GrayHatter commented on #752
@towlie can you try this again with my file_resume branch (in PRs)

@Doom032 you too?

[2015-04-03 02:40] GrayHatter commented on #359
superseded by #624

[2015-04-03 02:40] #359 closed

[2015-04-03 02:40] GrayHatter commented on #624
sounds uTox might choose to use

http://www.zamaudio.com/mbox2/toxsounds.tgz

input neede!

[2015-04-03 07:36] tsudoko commented on #624
`contactrequestaccepted.wav` sounds weird, but nice. I'm just not sure if it's going to be associated with what it's supposed to notify about.
`transfer*.wav` seem too simple/quiet
Is there any point of having sounds for outgoing calls? I mean, the user has initiated them, so he knows that they're happening without any notifications. If it's really needed, it should at least be different (less lou

[2015-04-03 19:18] GrayHatter commented on #169
I'm close to releasing some code for linux system tray. But before I do I wanted to find out what anyone thinks are the needs to haves and the nice to have features for the linux tray?

[2015-04-03 22:46] GrayHatter commented on #745
started in #949
TODO, create a list of values we expect from a minimal save file

[2015-04-03 23:01] aaannndddyyy commented on #624
I don't like them at all.
Especially the outgoing call. Should resemble more a phone or skype.
And before sound notifications, there should be visual indications. What if the user has sound turned off?

[2015-04-03 23:03] GrayHatter commented on #561
fixed with the new api

[2015-04-03 23:03] #561 closed

[2015-04-03 23:05] GrayHatter commented on #415
@Arkderce how do you enter the letters "ą" and "ż"?

[2015-04-03 23:18] dimgel commented on #169
It's good for me as it is now. Except for non-contrast incoming notification animation but I think you didn't mean graphical design in your question.

[2015-04-04 00:00] towlie commented on #752
@GrayHatter It's not fixed on Windows with your current file_resume branch.
And it only compiles with -std=gnu99.

[2015-04-04 00:01] GrayHatter commented on #752
Does the transfer not work at all, or is it stalling, or saving bad data?
Or something else?

On Fri, Apr 3, 2015, 17:00 towlie <notifications@github.com> wrote:

[2015-04-04 00:07] towlie commented on #752
On gui side it does nothing when selecting the file. Here is the console output:

[code]

[2015-04-04 00:23] GrayHatter commented on #169
@dimgel I meant anything... But what do you mean good as it is now, right now uTox doesn't have a system tray icon

[2015-04-04 03:23] #878 closed

[2015-04-04 03:26] GrayHatter commented on #705
fixed in master tag me if I'm wrong

[2015-04-04 03:26] #705 closed

[2015-04-04 03:27] GrayHatter commented on #656
@Nordic89 I'm going to close this one because both bugs are done. If you really want h.264 support create a new issue and tag me

[2015-04-04 03:27] #656 closed

[2015-04-04 05:46] GrayHatter commented on #366
This should be fixed in the newest API tag me if you can still make this happen...

[2015-04-04 05:46] #366 closed

[2015-04-04 05:48] GrayHatter commented on #546
what window manager are you using?

[2015-04-04 05:55] GrayHatter commented on #664
in talking with irungentoo, this needs toxcore support. I'm going to close this because there's nothing uTox can do for it without core support.

If you really want this open a bug there

[2015-04-04 05:56] #664 closed

[2015-04-04 06:02] GrayHatter commented on #657
@LittleVulpix this should be fixed with the new api, can you test it out and see if this bug still exists?

[2015-04-04 06:07] GrayHatter commented on #107
closing as support in incoming, /me is already supported, and others are on the way

[2015-04-04 06:07] #107 closed

[2015-04-04 06:47] dimgel commented on #169
Damn sorry, I have to take some time for sleeping. I though I'm answering to qTox issue, not uTox.

[2015-04-04 09:51] redmanmale opened #951 "Problem with tray tooltip status appearance"
In tray bubble which shows status text, after actual text shows some junk from memory.
It may be caused by some mistake in `printf` function (length of string argument).

That problem is not always appears to be, depend on lenght of status text and maybe something else.

Actual status text:
![actual status](https://puu.sh/h11oq/5993f46dd7.png)

Tray tooltip:
![tray tooltip](https://puu.sh/h11uu/22

[2015-04-04 09:51] Nordic89 opened #952 "Please add h.264 support"
Would be awesome to have, thanks.

@GrayHatter

[2015-04-04 10:51] tsudoko commented on #952
Could you provide more details? Also, why?

[2015-04-04 11:02] tsudoko commented on #951
Are you using updater builds? This is supposed to be fixed in 8f16532, but updates are held back right now due to core API changes. All major clients need to support the new API before updates get resumed because with the new API the protocol has changed as well. Incompatibilities between clients on old and new API create problems.

[2015-04-04 11:08] towlie commented on #752
Oh and I didn't test it on Linux.

[2015-04-04 17:53] GrayHatter commented on #752
It works on linux, that's what I'm using to send the file to windows

[2015-04-04 17:55] GrayHatter commented on #952
no, I think you misunderstood, you need to open support for h.264 in toxcore https://github.com/irungentoo/toxcore there's no reason for uTox to have h.264 support if there's nothing to do with it

[2015-04-04 17:55] #952 closed

[2015-04-04 17:57] GrayHatter commented on #951
yeah, I thought I fixed this already. I'm going to version tick the master repo.

build uTox from master and see if this still exists?

[2015-04-05 08:12] kozross opened #953 "Missing letters in messages (and cannot receive files)"
Whenever I send a message to another uTox (or qTox), the first few letters of my message are lost. Additionally, when the person on the other end wants to send me a file, I can't even *see*, let alone receive, it.

Whenever I get a message from them, it has some junk characters at the front (I figured this might be related).

[2015-04-05 08:29] tsudoko commented on #953
Downgrade your client to bdd1a009518e325a73a527da152793102b765ef6 for now. qTox isn't yet compatible with the new API and most client updates are held back.

[2015-04-05 19:34] TheLastProject commented on #546
Kwin.

[2015-04-05 19:37] GrayHatter commented on #953
I'd suggest you not just downgrade.

But if you want to, make sure you downgrade your toxcore version as well.

Closed as wontfix, qTox needs to upgrade

[2015-04-05 19:37] #953 closed

[2015-04-06 03:01] Nsheppard01 commented on #934
Now that I have both of my screens this isn't a problem for me. But Tox still always spawns new windows in the far right monitor no matter what. Again this isn't a problem because that's where I'd drag it anyways, but it's bad behavior, a window should always open in the screen it was opened from.

[2015-04-06 03:06] Nsheppard01 commented on #349
I like making text based emoticons, and hate it when they get turned into ugly gifs. Emoji are okay, but turning arbitrary text strings into pictures is dumb.

[2015-04-06 03:11] Nsheppard01 commented on #907
Is this really a dup? That topic is about notification sounds. I'd just like there to be some kind of visual indication that people are talking in a group chat like there is for regular chat messages.

[2015-04-06 03:13] GrayHatter commented on #349
@Nsheppard01 I agree with you on that one, text emoji > * I'll be sure to keep it that way

[2015-04-06 03:15] Nsheppard01 opened #954 "Feature Request: Notification from group chats."
This issue was previously labeled a duplicate, but the other issue was only tangentially related so I'm asking again.

Right now there is no visual indication that people are talking in a group chat. This causes people to miss entire conversations. Adding some sort of audible indicator is not a desirable replacement, because unlike audio, visual indicators can inform the user of events that occurr

[2015-04-06 03:17] GrayHatter commented on #907
Ahh, I misunderstood what you were asking... either way this one came first, #388 +1 it to get it more attention!

[2015-04-06 03:19] GrayHatter commented on #954
#388

[2015-04-06 03:19] #954 closed

[2015-04-06 03:20] GrayHatter commented on #776
@tsudoko

[2015-04-06 03:29] Nsheppard01 commented on #624
I am of the opinion that computers should only make noise when the user requests it, and never as a way for the computer to get the user's attention. The latter is without exception annoying, and in some cases can lead to the user just ignoring things (one of the causes of 3 mile island)

Audible indicators also have the problem of only being useful if the user is within earshot of the computer. T

[2015-04-06 04:06] Nsheppard01 commented on #388
It would also be nice to be able to see if people in a groupchat are typing.

[2015-04-06 06:14] GrayHatter commented on #388
I don't think toxcore supports that... Anyone know?

[2015-04-06 10:48] tsudoko commented on #776
Wanted to do tooltips for user statuses/names, but I think it'd require more work than just adding one line with tooltip text, not sure if I can manage to do it.

[2015-04-06 10:50] tsudoko commented on #624
Sure, I agree with that, but some people wanted more sounds, so...

[2015-04-06 14:52] Nsheppard01 commented on #624
Well, the user should be able to customize/disable them.

[2015-04-06 16:29] GrayHatter commented on #776
@tsudoko somewhere in the source is an example of how to create a tooltip
from generic text. (I think they just used utf8tonative() ) I'm sure you
can grep tooltip to find it, I think it's just commented. But if you need
me too, I'll write a function you can use that will put a utf8 tox string
into a tooltip if you're willing to tooltip the hell out of things?

On Mon, Apr 6, 2015, 03:48 tsudoko <

[2015-04-06 19:03] GrayHatter commented on #657
will be fixed with #752

[2015-04-07 10:41] GrayHatter commented on #624
it's kinda uTox's job to make noise, but I'll leave most of the sounds disabled by default too. Because while I think comparing IM app sounds to 3mile island is a little hyperbolic, I'd like to keep uTox as the least annoying it can be!

[2015-04-07 10:42] GrayHatter commented on #624
See also https://github.com/zamaudio/toxsounds

[2015-04-07 11:58] swiftgeek opened #957 "LC_ALL=C doesn't switch language to English"
LC_ALL=C doesn't switch language to English

[2015-04-07 18:53] muchweb opened #958 "Make configuration file human-readable"
I know that one of aims of µTox project is to keep as few dependencies as possible, but I think that this would bring considerable benefit.

**Proposal:** to store settings and themes in `INI`, `CFG`, `JSON` or similar human-readable configuration file.

This will make it easier for users to understand and for developers to add/remove supported options in the future.

Parsing libraries tend to be

[2015-04-07 19:01] GrayHatter commented on #958
see #908

[2015-04-07 22:43] GrayHatter commented on #620
We can't select video/audio quality w/o core support. You can open a new issue there if you'd like?

[2015-04-07 22:43] #620 closed

[2015-04-07 22:49] GrayHatter commented on #455
@irungentoo is this just bad core encoding, or is utox chokeing on the webcam?

[2015-04-07 23:10] irungentoo commented on #455
that's core most likely.

[2015-04-07 23:13] GrayHatter commented on #455
@karai17 did you notice any kind of audio distortion, or network lag?

Also, can you try the newest uTox on both sides and see if it's still a problem? (Make sure you're on a new api version too)

[2015-04-07 23:15] karai17 commented on #455
Audio was fine, higher bitrate than Skype so it sounded quite nice. No notable lag. I can give it a try later.

[2015-04-08 02:14] GrayHatter commented on #937
it now happens when trying to realloc while also trying to messages_draw()

gist here ...

[2015-04-08 08:57] calimeroteknik commented on #169
@GrayHatter the usual nice-to-have things for a messenger client in the tray, I guess are:
- on left click: minimize/restore
- on right click: pop-up menu with status switcher, Quit, (and Mute maybe?)

[2015-04-08 18:14] Doom032 opened #959 "installation too much work on Windows"
From getting some people on Windows to use µTox, I found that the biggest installation issue they run into is that they have to choose an installation path manually. It's also unclear when you select a folder whether it'll create a subfolder or it'll just unpack in the folder you selected.

Probably would be best if the default path was set to "C:\Tox" or something, and you can customize it if you

[2015-04-08 18:54] tsudoko commented on #959
I think there was a discussion somewhere about moving the default installation dir to `%LOCALAPPDATA%\uTox` or something similar and installing/updating uTox without any user interaction at all. Might be good for people who don't like choice.

[2015-04-09 04:35] GrayHatter commented on #959
@Doom032 it's on my radar and coming soon

[2015-04-09 07:45] Doom032 commented on #959
@tsudoko that'd be nice, truly no configuration required.
@GrayHatter Great!

[2015-04-09 08:57] muchweb commented on #959
+1 on this

[2015-04-09 13:25] zetok opened #960 "µTox can't cancel file transfer"
https://gist.github.com/zetok/40c60f15205b15362b77

[2015-04-09 14:21] zetok opened #961 "µTox can't display text correctly"
![nope, no text for u](https://cloud.githubusercontent.com/assets/3148759/7068606/73fbc710-decb-11e4-8751-8cab946d9f9d.png)

Steps to reproduce:
1. Copy content of test sample: https://a.pomf.se/mpxeqh.7z
2. paste it and send

You may need to repeat (multiple times, quickly) step 2

During pasting & sending CPU usage of xorg increases dramatically (from ~idle to even ~100%) which renders whole env

[2015-04-09 17:10] GrayHatter commented on #960
fixed in #938

[2015-04-09 17:11] GrayHatter commented on #961
While guess, but I believe it's related to #87

[2015-04-09 21:50] #960 closed

[2015-04-10 03:19] olgazd opened #962 "Brew installation of uTox gives error message when trying to open from terminal"
I installed uTox from brew, and when I try to run it in my terminal, I get the following result:

[code]

What is the cause of this and how can I get it work?

[2015-04-10 04:12] GrayHatter commented on #962
which brew?

[2015-04-10 05:29] tsudoko commented on #962
Do you have XQuartz installed?

[2015-04-11 00:39] henriqueleng commented on #961
A friend of mine using windows have this problem

[2015-04-11 00:41] GrayHatter commented on #961
this problem? are you sure it looks JUST like this?  (or very similar)

[2015-04-11 00:41] GrayHatter commented on #961
@zetok can you make this happen on demand?

[2015-04-11 01:00] henriqueleng commented on #961
@GrayHatter It was really like this, I will see if he still with this problem, and try to get a screenshot

[2015-04-11 01:01] GrayHatter commented on #961
@henriqueleng if you can get a screenshot of the whole uTox doing this is would be SUPER helpful!

[2015-04-11 07:01] olgazd commented on #962
Homebrew, XQuartz installed.

[2015-04-11 11:08] fcore117 commented on #959
i personally do not use installers ever as i use portable, but friends complain about uTox launcher flashes some window before starting.

[2015-04-11 12:01] Doom032 commented on #959
@fcore117 ah yeah, I think it shows a console window when you update µTox with the updater. It's a bit weird if you're not used to it.

[2015-04-12 01:38] timothybranch opened #963 "Group Chat Notification Settings"
On skype, for each separate group chat, you can specify to only be notified when certain words are stated.
As well, in the side bar, there is a separate count for messages posted and for notifications.
Essentially how it works is that whenever anyone mentions the chosen word(s) (such as one's name), there is a audio cue, and the word is highlighted in the chat. This notification method is fairly s

[2015-04-12 02:06] zetok commented on #961
@GrayHatter should be reproducible with https://a.pomf.se/rqeeru.tar

[2015-04-12 05:57] neodine opened #964 "Bad font rendering on Linux."
The subpixel rendering looks quite bad compared to other applications. I've had this issue in the past and it was remedied in an update but now it appears to have returned.

Example:
![subpixelrendering](https://cloud.githubusercontent.com/assets/8393359/7104522/433495a8-e0b5-11e4-891e-dbec23c3364f.png)

[2015-04-12 18:46] emanueLczirai opened #965 "focus on first user in list instead of on Add Friends on startup."
Hi. Does anyone know how to get utox to focus on the first user in list instead of on Add Friends on startup? Or maybe the general idea, or where to look in the code? **EDIT:** <del>found it: main.c +698 `list_selectaddfriend();` **EDIT2:** nope, I was wrong, none of the `list_selectaddfriend()` invocations do that, must be one of the `selectitem` then.</del> **EDIT3:** not that either :) **EDIT4:

[2015-04-12 20:15] emanueLczirai commented on #965
Found a way to set it, but... I think I'm doing it too soon because it segfaults due to their avatar not being set or something https://github.com/notsecure/uTox/blob/043f9782e530af3d7676fe25fbf1d50f2464e6ff/ui.c#L91 Still on it

[code]

calling it after this: https://github.com/notsecure/uTox/blob/22be5ba2702da50fee72b277e752ee0a27620d8d/xlib/main.c#L1139

[2015-04-13 05:48] stal888 opened #966 "Inline screenshot icon is bad"
A square doesn't mean a whole lot.
I think it should look like this, but svg.c is too str8 for me.
![image](https://cloud.githubusercontent.com/assets/774591/7110425/bc158cec-e165-11e4-9d4a-d87ad7d32b7b.jpg)

[2015-04-13 12:50] #965 closed

[2015-04-13 21:31] emanueLczirai commented on #844
From my tests right now, if libfilteraudio is compiled with hardened it will segfault; but if compiled with vanilla it will work ok. (regardless of utox being compiled with hardened or vanilla) (everything else that they depend upon is compiled with hardened compiled)

[2015-04-14 00:23] emanueLczirai opened #967 "first 4 characters of each message are missing"
Hi.
I have one uTox running on Gentoo Linux(inside virtualbox) and one on Manjaro Linux(on a real system).
The former reports version `0.2.o` and the latter `0.2.p`(and I can verify this one is on commit af8cd1bf784c69e84e311ffc9f2cb8b2c34f002d )

In addition, the `0.2.o` one sees 4GB file being sent every time the `0.2.p` is online.
I'm unsure how to make gentoo one be 0.2.p at this time, but I'm

[2015-04-14 00:26] emanueLczirai commented on #967
I guess since the versions are different it's a non-issue. I don't know why I reported it :)

[2015-04-14 00:26] #967 closed

[2015-04-14 00:54] stal888 commented on #908
this can be closed, i fixed theme saving for xlib in 3c447f93f8e0ccf31703a9497e545ba37dccd7b6

[2015-04-14 00:55] #908 closed

[2015-04-14 14:32] irungentoo commented on #964
Fixed in: https://github.com/notsecure/uTox/commit/1e1758f03d740c6463371910717a40e125de4a63

[2015-04-14 14:32] #964 closed

[2015-04-15 05:15] roboman2444 opened #971 "Tray icon does not work at all in LXDE."
It has never worked for me on lxpanel. My lxpanel version is 0.7.2 if that helps. Nothing in the console log would suggest any errors with the tray icon either.

[2015-04-15 07:13] GrayHatter commented on #971
there isn't one yet... #169

[2015-04-15 07:13] #971 closed

[2015-04-15 12:30] thedanish commented on #169
@GrayHatter
Thank you so much! I signed up just to respond to you.
Needs:
Tray icon
Close to tray, either by closing the window or option on tray icon menu

Nices:
Online/Offline/Away icons for the tray
Message notification, like making the icon flash

I am currently using version 0.18-589. I noticed in the settings there are "close to tray" and "start in tray" but they don't appear to do anything

[2015-04-15 14:55] tsudoko commented on #169
@thedanish they're implemented for win32
@GrayHatter could tray-related settings be hidden on xlib builds for now?

[2015-04-15 19:02] GrayHatter commented on #169
@tsudoko wrap them in an #ifdef and I'll merge the PR, but I'm working on
the tray now, so it shouldnt matter soon™

On Wed, Apr 15, 2015, 07:55 tsudoko <notifications@github.com> wrote:

[2015-04-16 02:31] olgazd commented on #962
Steps:
1. brew tap Tox/tox
2. brew install --HEAD utox
3. brew install Caskroom/cask/xquartz
4. brew install --HEAD utox
5. utox
Cannot open display

[2015-04-16 02:37] emanueLczirai commented on #962
can you show the output of this
$ echo $DISPLAY
:0.0

[2015-04-16 03:31] olgazd commented on #962
Olgas-MBP:Tutorials olga$ brew tap Tox/tox
==> Tapping Tox/tox
Cloning into '/usr/local/Library/Taps/tox/homebrew-tox'...
remote: Counting objects: 225, done.
remote: Total 225 (delta 0), reused 0 (delta 0), pack-reused 225
Receiving objects: 100% (225/225), 39.79 KiB | 0 bytes/s, done.
Resolving deltas: 100% (55/55), done.
Checking connectivity... done.
Tapped 6 formulae (29 files, 160K)
Olgas-MB

[2015-04-16 03:37] olgazd commented on #962
It is blank

[2015-04-16 03:40] emanueLczirai commented on #962
Is it blank even when you start a new terminal? (inside X I presume)

[2015-04-16 04:10] olgazd commented on #962
I have restarted my pc, now echo $DISPLAY is not blank and tox works.
Thanks for help.

[2015-04-16 04:43] olgazd commented on #962
Solution was found here:
https://discussions.apple.com/thread/4157422?start=15&tstart=0

[2015-04-19 17:14] Th0masR0ss commented on #526
Well, uTox still doesn't have a mute button, so until #287 is done, this pretty much can't be done.

[2015-04-19 18:08] haavardp opened #975 "Font rendering with -O2 and infinality"
![uTox screenshot](http://i.imgur.com/W2yIhn6.png)

Arch Linux with [`infinality-bundle`](https://wiki.archlinux.org/index.php/Infinality) installed, uTox (a147476e0e) compiled with `CFLAGS=-O2` or `CFLAGS=-O3`. Does not happen without infinality. Does not happen with `-O1` or `-O0`.

[2015-04-19 23:52] GrayHatter commented on #961
@zetok @henriqueleng does this still happen with a147476e0e795f3a896ce68248abbaaa5bee1f88

[2015-04-20 17:23] fcore117 opened #976 "Cannot delete canceled/received files"
I cannot delete canceled, i have to quit utox to get access to files. User who i sent files cannot delete received files.

[2015-04-20 17:44] xzfc commented on #975
Can confirm. My configuration: gentoo, no infinality, regardless optimisation level (tested `-O0` `-O1` `-O2` `-O3`).

Ironically,

[2015-04-20 21:48] irungentoo commented on #975
can you post your fontconfig configs?

[2015-04-21 02:43] Th0masR0ss opened #977 "Add ability to rename group chats"
We should be able to rename group chats

[2015-04-21 04:37] GrayHatter commented on #976
@fcore117 I'm going to need a lot more information then this?

How are you trying to delete the file? What OS are you on/is your friend on?

[2015-04-21 04:38] GrayHatter commented on #977
does /topic not work?

[2015-04-21 09:18] fcore117 commented on #976
my side win8 and other side win7, try to start sending file then press cancel and try to delete or move this file.

[2015-04-21 12:10] xzfc commented on #975
[/etc/fonts](http://dump.bitcheese.net/files/ewugeta/etc-fonts.tar.gz), [~/.fonts.conf](http://dump.bitcheese.net/files/osozese/fonts.conf).

Renders ok if remove `<edit name="hintstyle" mode="assign"><const>hintslight</const></edit>` from `~/.fonts.conf`.

[2015-04-21 12:57] MatejKovacic commented on #845
I can confirm this issue. I have found out uTox 0.2.o (I am using it on Ubuntu 14.10) is accessing laptop camera all the time. If you run uTox and then try to run Cheese (app for video capturing), Cheese says that camera device is in use.

The fact is there is no video chat active in uTox, and it still is "blocking" camera.

[2015-04-21 13:13] plumpudding opened #978 "Running uTox on ARM"
So I tried to run uTox on the Raspberry Pi and compiled it via the AUR (I run Arch Linux ARM) and got this error when trying to run uTox: http://pastebin.com/tKh7WLhx
I already ran it with the --sync option but that didn't change the output.
Now I did also compile using the instructions manually, but that gave me the same message again.

[2015-04-21 16:09] Th0masR0ss commented on #977
Never mind. I should read the docs first.

[2015-04-21 16:09] #977 closed

[2015-04-21 16:40] plumpudding commented on #978
duplicate of #369

[2015-04-21 16:40] #978 closed

[2015-04-21 17:06] irungentoo commented on #975
Fixed in: https://github.com/notsecure/uTox/commit/96528bc2ba420c506ad134b64c3ce18234c66fc2

[2015-04-21 17:06] #975 closed

[2015-04-21 21:10] plumpudding commented on #959
you could work arround that updater window (even if it's a batch script) by using http://www.nirsoft.net/utils/nircmd.html and running the command ' nircmd.exe win hide ititle "window title" '

[2015-04-21 21:15] plumpudding opened #980 "Font doesn't render properly"
Ironically since https://github.com/notsecure/uTox/commit/96528bc2ba420c506ad134b64c3ce18234c66fc2

I use Arch Linux with the latest packages of Gnome.

It looks like this:
https://i.imgur.com/MwrwnTN.png

[2015-04-21 21:28] plumpudding commented on #980
After looking at the changes I removed the " / 3" in line 244 and voila - everything looks nice again!

[2015-04-22 00:11] irungentoo commented on #980
https://github.com/notsecure/uTox/commit/f0111535f3ae1d820584d401d7f1debc54f9787d

Did this fix it?

[2015-04-22 05:23] plumpudding commented on #961
Yes it is @GrayHatter
I also experienced this issue, but I thought I had accidently compiled my fork with modifications so I didn't think about reporting it.

[2015-04-22 17:39] towlie opened #984 "user avatar disappears if you send a 1x1 pixel screenshot"
Happened to me on Win7x64. Don't know about linux.
The avatar reappears when you send a bigger screenshot. (Bigger than 1x1 pixel).

![avatar1](https://cloud.githubusercontent.com/assets/6986141/7281022/38a4a61c-e927-11e4-9c10-6041cfc92837.jpg)
![avatar2](https://cloud.githubusercontent.com/assets/6986141/7281024/3f468c4c-e927-11e4-8405-508962b48c70.jpg)

[2015-04-22 18:02] GrayHatter commented on #984
well THAT'S interesting...

[2015-04-22 18:04] GrayHatter commented on #984
@towlie I can't duplicate this on Win8x64, can you restart and still make it happen?

[2015-04-22 18:36] towlie commented on #984
I was able to do this again. You just have to wait a bit (maybe 20 s). So it doesn't disappear instantly.

[2015-04-22 18:53] towlie commented on #984
The avatar only disappears per contact. So if I click another contact then it reappears until I go back to the faulty one.

[2015-04-22 19:58] towlie commented on #984
Arguments of "draw_image" function when this bug happens. https://gist.github.com/towlie/cf486376d8b71c294fe1.
I also saw that the screenshot function doesn't not show the sent image until I do some mouse movements (leaving the utox window). So when the redraw happens the avatar will disappear.
@irungentoo said that there is a missing redraw.
Maybe that's why you couldn't repdroduce it?

[2015-04-22 20:05] towlie opened #985 "uTox doesn't redraw if screenshot filetransfer is finished"
Because of that uTox will not show the sent image until you leave the chat window with the mouse cursor.

[2015-04-22 21:30] irungentoo commented on #984
https://github.com/notsecure/uTox/commit/ea6d79655dc3d1c2c61a7d7cdbee4c3d98d9af11

[2015-04-22 21:30] #984 closed

[2015-04-23 06:19] plumpudding commented on #980
Yes it did @irungentoo

[2015-04-23 11:56] #980 closed

[2015-04-23 12:08] ElLamparto commented on #902
I confirm the problem. There is a number of Polish characters which are created by pressing <ALT GR> and then a key. For example <ALT GR><l> gives 'ł'. Other characters are for example: ą ę ń ż ó.
µTox process those letters as CONTROL CHARACTERS and that's the problem!
'ł' acts like backspace, while another one (I don't remeber which), WIPES ALL the written text from the edit field.

Therefore it

[2015-04-23 14:37] darkman088 commented on #190
OK, thanks for the info! I am (in)patiently waiting :-)

[2015-04-23 18:34] towlie commented on #985
Happens on Linux also.

[2015-04-23 20:21] towlie commented on #985
The main issue is that people don't notice that a inline image was received until they hover over the uTox window.

[2015-04-25 04:56] stal888 commented on #985
I might submit a patch for this tomorrow

[2015-04-25 06:13] GrayHatter commented on #985
@stal888 it'd be best to add a call to redraw in the update_user function. That is after all it's job, and it's called every time there's an update that the user might want to know about.

[2015-04-25 18:33] ElLamparto commented on #902
One more thing. This bug appears on WinXP 32bit. On Win7 64 bit there is no problem.

[2015-04-26 07:35] tsudoko opened #991 "Minor video input device issues"
[code]

[2015-04-26 09:35] tsudoko opened #992 "Text overflow issues"
Sorry, I don't know how to describe it better.
http://a.pomf.se/dnjapp.webm

[2015-04-26 10:00] GrayHatter commented on #991
I've seen this too

[2015-04-26 14:59] towlie commented on #976
@GrayHatter It seems that you don't release the file on cancel. Maybe you forgot something

[2015-04-26 15:01] towlie commented on #976
Oh and shouldn't it delete uncompleted / canceled files? That would also solve the issue.

[2015-04-26 15:11] fcore117 commented on #976
I hope when patch arrives then uTox releases all files from lock if not transferring or waiting to transfer. Currently only way is to close and delete/move/rename.

[2015-04-26 16:03] GrayHatter commented on #976
this is fixed in my newest branch. Still pending testing, you can check it out from #993 and report any bugs there to speed along it's merge into master

[2015-04-26 18:14] stal888 commented on #991
Yep

[2015-04-27 12:13] gjedeer opened #994 "Terrible antialiasing on Linux"
After upgrading to 0.2.p, uTox on Linux started displaying antialiased text. Font is very hard to read now. Is it possible to disable antialiasing?

![cccc5](https://cloud.githubusercontent.com/assets/315648/7347295/78e8aa70-ece7-11e4-82f8-1dc2d1db73fc.png)

[2015-04-27 12:14] gjedeer commented on #994
Okay, the screen doesn't show how unreadable it is because Github magnified the image.

[2015-04-27 13:09] irungentoo commented on #994
There's a DPI option to make the UI and text bigger in the options.

[2015-04-27 16:28] Sorunome opened #995 "libvpx"
I'm getting
[sorunome@sorunome-desktop utox-git]$ utox
utox: error while loading shared libraries: libvpx.so.1: cannot open shared object file: No such file or directory

I tried building tox-core and utox again, both via the archlinux repo thingy, same results.

[sorunome@sorunome-desktop utox-git]$ ls -l /usr/lib/libvpx*
lrwxrwxrwx 1 root root      15 Apr 18 12:41 /usr/lib/libvpx.so -> libvpx.so

[2015-04-27 17:43] tsudoko opened #996 "Avatars aren't being sent"
New API uTox doesn't show other friends' avatars, also my avatar isn't shown on their friends list.
Cached avatars from qTox friends are shown, though.
The `~/.config/tox/avatars` directory doesn't contain any files when cleared or removed before launching uTox.

Sample output when a friend came online after restarting their client:
[code]

[2015-04-27 18:24] theCoolkal commented on #996
I have the same problem.

The output shows this:

[code]

[2015-04-27 19:16] irungentoo commented on #996
qTox bug?

[2015-04-27 19:20] Arkderce commented on #415
By pressing right alt + a (z) on polish programmer keyboard.

[2015-04-27 19:21] theCoolkal commented on #996
@irungentoo We're both using µTox.

[2015-04-27 19:21] pcbmaster commented on #996
Have the same issue here. Using uTox.

[2015-04-27 21:40] darkman088 opened #997 "uTox for 32 bit Linux with a lot of visual issues"
Hello,

today I have installed the latest version of the 32-bit Linux version of uTox (the .rpm version). Unfortunately, I need to complain very loud about it, as it has many many glitches:
1) When I receive text from a contact, it starts with three small rectanlges and a corner-character. I tried to copy-paste them here, but it is not possible... :-/
2) Then, when I am working on something else,

[2015-04-27 21:47] theCoolkal commented on #997
Your contacts are probably using older clients from before the recent protocol update.

[2015-04-27 22:12] irungentoo commented on #997
tell your friend to update his client.

[2015-04-28 04:24] GrayHatter commented on #995
@zetok @haavardp

[2015-04-28 08:13] Doom032 opened #998 "Regression: No more progress bar on inline images"
There used to be a progress bar when sending inline images like when you send an attachment, but that seems to have been removed. Not having it is really not handy, because you need that bar to see how the transfer is going and whether it was sent correctly. Inline images feel less polished now.

[2015-04-28 09:05] Doom032 commented on #996
Avatars work here if you set it manually after start up, but if you restart the avatar seems to not be sent to people anymore, until you set it again.

[2015-04-28 09:44] azlux commented on #992
The same with me, the scrolling makes errors and create a shift between the text and what we see. So we click on an empty area.

[2015-04-28 10:01] azlux commented on #996
Same here. but avatar changed before the previous update are still here. only new avatars are not saved and not send to others after restart

[2015-04-28 12:22] haavardp commented on #995
Can you give us the output of `which utox`? Thanks.

[2015-04-28 12:31] ElLamparto opened #999 "µTox on Windows XP 32 bit - µTox window totally messed up"
Version 0.2.p.
Windows XP 32 bit: in the µTox window there is only 1/4 of the usual contents - 4x enlarged.
This version works correctly on Windows 7 32 bit and on Debian.

[2015-04-28 13:00] irungentoo commented on #996
Fixed in: https://github.com/notsecure/uTox/commit/a1d8629028da03504895c24a63583021736a7e2c

[2015-04-28 13:00] #996 closed

[2015-04-28 13:02] ElLamparto commented on #999
![utoxcapture](https://cloud.githubusercontent.com/assets/9163437/7370005/250d9782-edb7-11e4-8cd2-8e21e0ea615f.PNG)

[2015-04-28 13:04] irungentoo commented on #999
go in the options, look for the dpi settings and set it to 100%,

[2015-04-28 13:21] ElLamparto commented on #999
It worked. Why was it suddenly set to 250%? µTox mystery...

[2015-04-28 13:22] #999 closed

[2015-04-28 15:11] Sorunome commented on #995
[sorunome@sorunome-desktop ~]$ which utox
/usr/bin/utox

Also, i "fixed" it by creating a symlink to libvpx.so which is, i guess, more  hack than something else

[2015-04-28 15:32] zetok commented on #995
dunno about "hack", since on Gentoo it's: ``/usr/lib64/libvpx.so.1 -> libvpx.so.1.3.0``

[2015-04-28 15:33] irungentoo commented on #995
rebuilding uTox should fix this. You most likely updated libvpx without rebuilding uTox after.

[2015-04-28 15:34] Sorunome commented on #995
I did try to re-build toxcore and utox after and it didn't fix it.

[2015-04-28 16:20] irungentoo commented on #995
rebuilding toxcore?

[2015-04-28 16:32] Sorunome commented on #995
since I wasn't 100% sure if the issue was toxcore or utox i just re-built both to realize that there was still the same problem ;)

[2015-04-28 19:23] redmanmale opened #1000 "Multiple interface flaws on Windows"
Every line in chat written not by me looked wrong (with some random symbol).
But my colleague (with whom I'm chatting) see my answer without first symbol.

![1](http://puu.sh/hucZ0/e96c4b3bd1.png)
![2](http://puu.sh/hud3m/ef06d8269d.png)

v. 0.2.p, Win 8.1 x64 (my), Win 7 x64 (colleague).

Also there was one very strange thing.
After I updated uTox up to 0.2.p to all my online contacts was send a

[2015-04-28 20:20] irungentoo commented on #1000
Those issues were caused by some protocol breaking changes in toxcore, for that moment you didn't have the same version of toxcore as your friends which caused the issue.

That green square button is used to send a screenshot of your desktop, click on it then select the part of the screen you want to send.

[2015-04-29 05:34] Stefan-Code commented on #325
+1 This functionality would be great to have in uTox.

[2015-04-29 08:27] redmanmale commented on #1000
@irungentoo Thanks for explanation!

[2015-04-29 11:11] zetok commented on #995
After update from ``libvpx-1.3.0`` to ``1.4.0``:
![muh vpx2](https://cloud.githubusercontent.com/assets/3148759/7389642/ce97f6a2-ee67-11e4-94a7-0b9a5b22d3a0.png)

From ``libvpx`` changelog:
[code]

So.
Upstream doesn't provide symlinks, since ABI compatibility for (if I understood correctly) VP9 has been broken.

Welp. Good job ``libvpx`` …

Eh. Dunno what to do with this upstream problem, it also

[2015-04-29 11:51] zetok commented on #995
actually, after rebuilding toxcore and µTox on arch vm, it just works…

@Sorunome it looks to me like there's some problem with your system.

[2015-04-29 14:24] Sorunome commented on #995
Did you try on arch?

[2015-04-29 14:27] tsudoko commented on #995
@Sorunome

[2015-04-29 17:08] thedanish commented on #169
@GrayHatter  I noticed something in the update today. I can minimise to tray! Thank you. Sorry to say, but I cannot see an icon. Is there a specific icon set you are using? pic related, http://a.pomf.se/qvubur.png

[2015-04-29 17:20] irungentoo commented on #169
@thedanish

There's no icon yet.

[2015-04-29 17:23] redmanmale opened #1001 "Bug with messaging between uTox and qTox"
I'm using uTox 0.2.p, my colleague qTox 1.0. Systems are Win 8.1 x64 and Win 7 x64 respectively.

Since start chat every incoming message, which my colleague send, shows in my chat many times.
And all messages keep going come every 20 seconds over and over again.

Bug in qTox issues (https://github.com/tux3/qTox/issues/1556).

[2015-04-29 18:02] GrayHatter commented on #1001
This is a qtox issue, also make sure you've both already updated your clients, sounds like your friend hasn't.

[2015-04-29 18:17] raisingw commented on #998
+1 on this. It also means inline images can't be saved, and coupled with the redraw bug, there's no notification when someone sends me an image because the progress bar doesn't appear.

[2015-04-29 18:57] zetok commented on #1001
@GrayHatter qTox 1.0 is on new api, and it indeed looks like problem with qTox's message DB..

[2015-04-29 20:53] darkman088 commented on #997
OK, then we will try that, thanks!!

[2015-04-30 03:10] GrayHatter commented on #998
This should not be true, but I'll look into it and get it fixed in the next file transfer update.

[2015-04-30 07:58] ElLamparto commented on #958
I would rise the priority.
Currently the language option is not saved at all (WIn XP, Win 7 and Debian), Always the OS language is taken.
The DPI setting sometimes is suddenly set to 250% (Win XP). <-- This is a high priority.

I suppose that the write/read functions are extremely messy and should be rewritten. This is a good opportunity to convert utox_save into an ASCII format. It would also all

[2015-04-30 11:56] zetok commented on #169
Closing, since minimizing to tray ~works.

[2015-04-30 11:56] #169 closed

[2015-04-30 11:58] zetok opened #1002 ""Close to tray" doesn't work in Linux"
under i3wm after closing µTox window, it just exits, instead of minimizing to tray when ``Close To Tray`` is set to ``Yes``

[2015-04-30 14:17] irungentoo commented on #1002
https://github.com/notsecure/uTox/commit/2a85c62b451bfc0e88f02dd265dc38463a306802

[2015-04-30 14:17] #1002 closed

[2015-04-30 14:39] tsudoko commented on #84
@GrayHatter fixed?

[2015-04-30 16:03] shalnoff commented on #169
Thin (1px) vertical white line instead of icon appears in tray.  Still no window icon! (v1.0-768)

[2015-04-30 16:11] shalnoff opened #1003 "uTox sending corrupted messages and initiating false file transfers (ver 1.0-768)"
I just update uTox to the new version 1.0-768 (updated form around 1 month old version).
The application
a) corrupting messages (cutting it and adding extra pseudo-symbols)
b) trying sending files rigth after start and sometimes when I send mesage to anyone. Files has random unreadable names as well.

[2015-04-30 16:12] LittleVulpix commented on #1003
@shalnoff This is caused due to the incompatibility of old api (which your friends have) and new api (which you have now since you updated). Tell your friends to update, there is no other solution.

[2015-04-30 20:03] GrayHatter commented on #1003
@LittleVulpix is correct, you can reopen this after your friend updates, if you still need to!

[2015-04-30 20:03] #1003 closed

[2015-04-30 20:04] GrayHatter commented on #1001
Closed as qTox issue, tag me or reopen if you can provide any information to make me think differently

[2015-04-30 20:04] #1001 closed

[2015-04-30 20:05] GrayHatter commented on #1000
Closed for new_api break, tag me or reopen if you still have issues after your friend updates

[2015-04-30 20:05] #1000 closed

[2015-04-30 20:08] GrayHatter commented on #997
closed as new_api issue, ask your friend to update, and if you still have issues tag me or reopen this.

[2015-04-30 20:08] #997 closed

[2015-04-30 20:14] GrayHatter commented on #995
@Sorunome did you get it working, or are there still libvpx issues in the newest version of µTox and vpx tag me or reopen this

thanks!

[2015-04-30 20:14] #995 closed

[2015-04-30 20:14] GrayHatter commented on #994
@gjedeer did changing the dpi help?

[2015-04-30 20:18] gjedeer commented on #994
It now looks like lego duplo but at least it's readable. Still looks noticeable worse than rest of the system.

I wonder if compiling with my system freetype instead of using binary from the repo would look better...

[2015-04-30 20:20] GrayHatter commented on #994
can you provide an image with how µTox looks compared to how something else on your system looks (they way you expect µTox to look)

[2015-04-30 20:27] gjedeer commented on #994
uTox @ 100% vs Psi+
![image](https://cloud.githubusercontent.com/assets/315648/7421807/18d64270-ef88-11e4-8cf5-5d80e7f5003b.png)

[2015-04-30 20:27] #962 closed

[2015-04-30 20:29] GrayHatter commented on #87
@irungentoo do you know of any of the Xlib calls that don't exist in xcb?

[2015-04-30 20:31] gjedeer commented on #994
Also, to clarify: before 0.2.p uTox didn't use antialiasing on my system at all, and it looked great.

[2015-04-30 20:31] GrayHatter commented on #994
it's a different font, but I'm not seeing the problem?

[2015-04-30 20:35] gjedeer commented on #994
Maybe you have better sight, for me the picture on the left is hardly readable.

Or, to be more scientific: I

[2015-04-30 20:39] GrayHatter commented on #921
blocked by #990

[2015-04-30 21:40] irungentoo commented on #994
Fixed in: https://github.com/notsecure/uTox/commit/f31f91b422b3735617f46fbb58bdba3697f49874

[2015-04-30 21:40] #994 closed

[2015-04-30 23:45] #998 closed

[2015-04-30 23:59] GrayHatter commented on #976
fixed in master

[2015-04-30 23:59] #976 closed

[2015-05-01 00:26] towlie commented on #985
https://github.com/notsecure/uTox/commit/16b008c56267d8926508c8b21cfa9ecce5c0f517

[2015-05-01 00:26] #985 closed

[2015-05-01 11:49] calimeroteknik commented on #169
Cool!
There's a problem directly related to 'minimize to tray' though:
When using window decorations, the window position is lowered by the title bar's height each time I cycle minimize/maximize.

[2015-05-01 16:25] shalnoff commented on #911
confirm, very important issue especially if you use changable headset.
It would be great to switch the audio IN/OUT source to the "new one" automatically and get back to the previous one if the device was unpluged.

[2015-05-01 16:37] shalnoff opened #1004 "imposible to switch typing notification off for another party"
can't find how to make my typing notification ivisible for interlocutor. would be great to have ability to switch this feature on/off.

[2015-05-01 16:50] shalnoff commented on #169
Confirm to calimeroteknik's window issue (above) as well.

[2015-05-01 16:54] dimgel commented on #169
I confirm calimeroteknik's issue too.

[2015-05-01 17:50] shalnoff commented on #169
Deactivation of Compiz doesn't helps to make tray icon pops up. Just the same 1px thin vertical line instead.

[2015-05-01 19:22] irungentoo commented on #169
Window position issues when unminimizing should be fixed in latest master.

[2015-05-01 20:28] GrayHatter commented on #893
fixed in master

[2015-05-01 20:28] #893 closed

[2015-05-01 21:30] calimeroteknik commented on #169
I confirm that it's fixed. Thanks very much!

[2015-05-01 21:57] calimeroteknik commented on #208
The 'minimize to tray' part is implemented in #169 but that doesn't make this feature request complete.
It would be super-awesome to have:
- On a right-click on the tray, pop-up menu with a status switcher, Quit, (and Mute?)
- An icon that shows the status: the usual; disconnected from DHT red empty ❍, connected and not visible red full 🔴 or half-full, busy orange, connected green full `🔴`; or whe

[2015-05-01 22:54] tsudoko opened #1005 "Colors from utox_theme.ini aren't parsed correctly"
Contents of `utox_theme.ini`:
[code]
Result:
![](http://a.pomf.se/mcytrj.png)
Expected result:
![](http://a.pomf.se/fxnocp.png)
uTox 7d06869, Gentoo x86_64
@stal888

[2015-05-01 23:27] stal888 commented on #1005
oops

[2015-05-02 00:11] roboman2444 commented on #208
Has minimize to tray been fully implemented? nothing changes and there is no tray icon in LXDE lxpanel. I've tried setting the options menu items but that does not help.

[2015-05-02 00:26] irungentoo commented on #208
The functionality is implemented, it doesn't draw an actual icon yet though so most people see it as a black/blank square.

[2015-05-02 00:35] roboman2444 commented on #208
This appears to be fixed in the latest utox nightly. Now shows up as a white square on lxpanel.
It would still be nice to have a little right-click menu for it, but this is a good step.

[2015-05-02 00:42] GrayHatter commented on #1005
fixed with #1006

[2015-05-02 00:42] #1005 closed

[2015-05-02 12:38] tsudoko opened #1009 "Minor visual friends list/context menu issue"
http://a.pomf.se/zgwfne.webm

[2015-05-03 02:19] shalnoff commented on #169
By clicking "icon" in tray the window starting to go up instead. (Mate + Compiz. ver 1.0-781)
The "icon" in tray still represented by 1px white vertical line.
Complete removing and reinstallation doesn't helps.

[2015-05-03 07:22] GrayHatter commented on #1004
Do you want to stop getting typing notifications? or do you want to stop sending them?

[2015-05-03 09:26] tsudoko commented on #568
Update: notifications work now, but not for the first received message.

[2015-05-03 11:25] tsudoko opened #1012 "(xlib → win32 file transfers) File names contain mojibake when saved"
![](http://a.pomf.se/gajyad.png)

[2015-05-03 11:36] tsudoko opened #1013 "Transfer issues with files with long Unicode filenames"
Filename: `～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～～`
Linux: uTox stops redrawing, but the transfer does work
Windows:
 - the filename is wrong:
   ![](http://a.pomf.se/plfvwc.PNG)
 - trying to save that file on Linux made uTox crash:
[code]

[2015-05-03 14:23] irungentoo commented on #1012
Does windows use UTF8 for filenames or some other encoding?

[2015-05-03 14:35] tsudoko commented on #1012
I think it uses UTF-16 for NTFS.
https://msdn.microsoft.com/en-us/library/windows/desktop/dd317748%28v=vs.85%29.aspx
http://stackoverflow.com/questions/2050973/what-encoding-are-filenames-in-ntfs-stored-as

[2015-05-03 15:17] thedanish commented on #169
Well I just wanted to say, fully functional here. http://a.pomf.se/dyfvro.png
Everything works as expected, close to tray, start in tray and clicking on the tray icons to open and close the window. I will just note, it didn't work straight away but I had to delete the home config folder, copied out tox_save and put it back after. Tint2 btw.

[2015-05-03 15:58] fcore117 commented on #1004
i would too like option to turn off sending typing notification to others.

[2015-05-03 17:37] GrayHatter commented on #1012
@irungentoo I was working on fixing this when the new api got released, so it got put onto the back burner. https://github.com/notsecure/uTox/milestones/unicode%20file%20transfers%20on%20windows is the milestone group for this.

I tried to translate the filename string with utf8_to_native(), which allows you to select the save file name you want to use. But then fopen() chokes on that data, not us

[2015-05-03 17:48] GrayHatter commented on #1012
@irungentoo windows does use utf-16, but after reading #1013 I wonder if utox assumes it's getting utf8 from windows file transfers, or if just accepts u16 and runs with it...

[2015-05-03 22:40] dennisnez commented on #853
Here's what it looks like after the YVU to YUV tweak...
![actuallyis](https://cloud.githubusercontent.com/assets/3186040/7447310/dc3942f2-f1c3-11e4-9f90-f6d65935c41e.jpg)
![shouldbe](https://cloud.githubusercontent.com/assets/3186040/7447309/dc338ee8-f1c3-11e4-9359-a17daf32e44d.jpg)

[2015-05-04 00:44] irungentoo commented on #853
are you sure this is a bug with uTox and not libv4lconvert?

[2015-05-04 09:55] shalnoff opened #1015 "permanent quick online/offile switching (blinking)"
I have installed last version form repository on two neighbour PCs (same subnet). Each see other online and successfully exchanging messages for several minutes. Then they both start quickly and periodically switching online/offline statement. It's looks like quick blinking.

(Linux Mint ver. 1.0-781)

[2015-05-04 09:59] shalnoff opened #1016 "sound notifications doesn't work"
... whatever settings user made.
Linux Mint, uTox ver. 1.0-781

[2015-05-04 10:40] tsudoko commented on #1015
One of my contacts behaves like that, only one though.

[2015-05-04 10:43] tsudoko commented on #1016
Yes, sound notifications aren't implemented yet, apart from the incoming call one. You might want to check out https://github.com/zamaudio/toxsounds for sounds that might be used in uTox someday.

[2015-05-04 12:29] irungentoo commented on #1015
If you disable ipv6 on one of the clients does it still happen?

[2015-05-05 05:06] shalnoff commented on #1004
sending

[2015-05-05 05:26] shalnoff commented on #1015
It looks like it helps! (I have switched IPv6 off just on one side, as you reccomend)

[2015-05-05 05:45] shalnoff commented on #169
unfortunately in my case it doesn't. I've removed everything and completey reistall the application. Everything stay the same. Thin 1px vertical line in the tray instead of icon (even no white box, as on your screenshot, just line) :(

[2015-05-05 07:52] calimeroteknik commented on #169
@shalnoff there. is. no. icon. image. It's a blank square in your tray and it works.

[2015-05-05 09:54] gjedeer commented on #994
Confirmed that it's fixed - the text is readable in 0.2.q

[2015-05-05 18:24] shalnoff commented on #169
@calimeroteknik, unfortunately in my case it doesn't (see above)

[2015-05-06 04:19] flussence opened #1017 "Minor nitpick: openurl() ought to have some sort of error handling"
If the xdg-open call fails (e.g. because I'm halfway through an OS update and `$BROWSER` isn't working...), it fails silently, and also leaves zombie xdg-open processes sitting around.

[2015-05-06 08:12] Vort commented on #904
Copy button is also bugged
![utox_copy](https://cloud.githubusercontent.com/assets/1242858/7489556/c397b232-f3e0-11e4-885f-14bf6c94e6a9.png)

[2015-05-07 22:11] shalnoff commented on #169
1.0-795 (Compiz + MATE) Still thin 1px vertical line in tray instead of icon (no white box showed above as well).

Probably the nature of problem in the neccessity to have a direct declaration of width somewhere or have a dummy PNG in icon directory that wasnt created? I was looking in code but can't find anything relevant at first glance.

[2015-05-07 22:26] shalnoff commented on #208
ver 1.0-795 (Compiz + MATE) Completely reinstalled.
Still thin 1px vertical line in tray instead of icon (no white square mentioned above as well).
Probably the nature of problem in the neccessity to have a direct declaration of width somewhere or have a dummy PNG in icon directory that wasnt created?

Sorry for doubling the issue. I just deside that would be better to let to know in the current m

[2015-05-08 01:23] ajay340 opened #1020 "ChromeOS Not working"
Downloaded it on ChromeOS and it won't launch

[2015-05-08 10:32] Ansa89 commented on #1002
Tested under XFCE, I get the "Closing to tray." message, utox doesn't exit, but there is no tray icon to click to reopen utox.

[2015-05-08 10:36] theCoolkal commented on #1002
@Ansa89 The tray icon on X11 is currently a blank square.
It's going to have an icon soon.

[2015-05-08 10:40] Ansa89 commented on #1002
But I can't see any "blank space" in my traybar...By the way I will wait for a proper icon to be added.

[2015-05-08 15:28] azlux opened #1021 "Improvement of the screenshot tool"
I've try the new qTox and I think it's a good feature to give the possibility to cancel a screenshot and to resize it. And because we need the mouse to making the screenshot , i propose to implement a button to validate the screenshot in additional to press "enter" button.

[2015-05-08 16:02] tsudoko commented on #1021
I don't like that "enter" part.

[2015-05-08 16:23] fcore117 commented on #1021
perhaps simpler way would be cancel screenshot when clicking on single dot and even when size is some pixels so there is nothing to see.

[2015-05-08 17:07] tsudoko commented on #1021
1x1 should be good, but being able to press esc to cancel would be fine too.

[2015-05-08 20:46] GrayHatter commented on #1020
ChromeOS support is experimental, expect it to break often and without warning for some time now.

It would be helpful if you could provide some more information, or does it just fail silently?

[2015-05-08 20:50] ajayshah340 commented on #1020
Like when you click on the icon, its suppose to launch but it doesn't.

[2015-05-08 20:51] GrayHatter commented on #1020
no error messages?

[2015-05-08 20:54] ajayshah340 commented on #1020
Nothing.
http://i.imgur.com/9S9CsRV.png
http://i.imgur.com/w3c4IOy.png
Infact there's no launch button.

[2015-05-08 21:12] irungentoo commented on #1020
@stqism is in charge of those builds.

[2015-05-08 22:04] ajayshah340 commented on #1020
May I asked @GrayHatter , why is this labeled low priority because I don't think many people can get on Tox on their chromebooks.

[2015-05-08 23:25] GrayHatter commented on #1020
Labeled as low priority because until µTox is stable on windows and linux, it'll never be stable on other platforms.

Plus, it'd be exceeding difficult to get it working on a device I don't have access too.

[2015-05-10 00:57] dennisnez commented on #853
Yea, I'm pretty sure the problem is not with libv4lconvert (media-libs/libv4l). Things work fine with Ekiga, which uses libv4l (via ptlib).

[2015-05-10 01:05] dennisnez commented on #853
Here's one way to test this bug, using mplayer and the tiny v4l2loopback driver (which comes with the useful yuv4mpeg_to_v4l2 utility):

mkfifo whatever
yuv4mpeg_to_v4l2 < whatever &
mplayer videofile.avi -vo yuv4mpeg:file=whatever

And then test this dummy video device with utox.

[2015-05-10 10:22] tsudoko commented on #959
Isn't this fixed now?

[2015-05-10 10:29] tsudoko commented on #992
Related: http://a.pomf.se/odjgnk.webm

[2015-05-11 08:37] ElLamparto opened #1025 "µTox shows no window on Debian Jessie"
uTox 1.0-809 (and a few builds before too).
On Debian Jessie it starts, but no window is shown, so it has to be terminated. Nothing special in the terminal output. The last working version is uTox 0.2.p.

The problem is not associated in any way with the Debian version (uTox 0.2.p works fine, except for the avatars of course) .

[2015-05-11 11:18] tsudoko commented on #1025
Does it still happen if you remove/copy the `utox_save` file?

[2015-05-11 14:33] ElLamparto commented on #1025
I did not try to remove utox_save.
1.0-809 is shown by Synaptic. The client comes always from the Tox repo.

[2015-05-11 15:02] theCoolkal commented on #1025
Maybe the Start in Tray setting has been enabled since it was added to the utox_save file in a block of data which was previously undefined.  Try clicking the µTox tray icon, which is currently a blank white square.

[2015-05-11 17:58] xur86x opened #1026 ""Show me as away when inactive for ... minutes""
Skype has this feature and it's pretty convenient, if you want friends to know that you are currently not using your computer and therefore can't answer.

[2015-05-11 18:05] tsudoko commented on #1026
dup of #604
I tried to implement that some time ago, but I wasn't sure where to get idle time from.

[2015-05-11 18:17] xur86x commented on #1026
Did you look at LapFox's result and how they did it?

[2015-05-11 18:59] GrayHatter commented on #1025
there is a fix that would check for this in #1027 pull that branch and launch with `./utox --set=show-window`

[2015-05-12 07:46] ElLamparto commented on #1025
1. Deleting utox_save fixes the problem,
2. There is no tray icon (xfce)

[2015-05-12 07:46] #1025 closed

[2015-05-12 07:55] GrayHatter commented on #959
@tsudoko, almost. It'll be fixed when self updating uTox becomes default,
and not a custom build...

But really it'll be fixed once uTox is able to update itself without a
separate exe.

On Sun, May 10, 2015 at 3:22 AM, tsudoko <notifications@github.com> wrote:

[2015-05-12 07:56] GrayHatter commented on #1025
@ElLamparto you didn't happen to save your utox_save file did you? I've very much like to take a look at it.

Also are you using a separate tray/window manager/dock/taskbar with xfce?

[2015-05-12 08:06] GrayHatter commented on #604
@tsudoko in reference to #1026 you said you don't know how to detect if the user is idle?

you can have MotionNotify on xlib/event.c:107 and KeyPress on xlib/event.c:266 both call your update function. then hook into one of the threads in tox.c to check if it's been >5m from the last time an update function was called...

[2015-05-12 20:32] dvapelnik commented on #855
@kriswema I have been dragging the contact to the position of group chat, but the user was not added to the group chat
uTox: v0.2.n
OS: Ubuntu 14.04.2

[2015-05-12 20:37] serfian commented on #855
same problem

[2015-05-12 20:49] irungentoo commented on #855
click on the friend, then drag the friend on the group chat entry in the friends list.

[2015-05-12 21:01] GrayHatter commented on #855
@irungentoo yeah, It's somewhat problematic now, I can duplicate this one...

[2015-05-12 21:07] GrayHatter commented on #855
scratch that, It works as it should.

@dvapelnik @serfian there may be some lag as utox tries to connect to that friend before it's shows them or any other friend as added.

Try adding a friend to a new group a little slower, and see if you still have this problem. If so could you make sure you're on the newest version of uTox and make a video of your drag and drop not working?

[2015-05-12 22:33] linuxes opened #1028 "message bugs"
When I'm texting to another utox client, a man on the other side gets an offer to 4GB file(which i didnt offered him, and even it cant be accepted) and sometimes, my message derrives shorted of two starting chars.
http://mineland.eu/upload/uxes/win.png
And then when i obtain an message, it starts with some unexpected chars.Then, its impossible to send printscreens.
http://mineland.eu/upload/uxes/l

[2015-05-12 22:52] KapitanGertruda commented on #1028
I have the same problem on Ubuntu 14.04. Weird characters keep appearing before the message and sometimes the user sends (he doesn't, but it appears for me) a large file, that I cannot accept. This happens also, when I am on qTox, the other user is on uTox - the characters still appear.

[2015-05-12 23:17] GrayHatter commented on #1028
someone somewhere's client is out of date. upgrade your toxcore and utox and qtox to the newest version.

[2015-05-12 23:17] #1028 closed

[2015-05-13 07:19] dvapelnik commented on #855
@GrayHatter yeah, I thought about the same and was advised to upgrade the client to my version. after that managed to join a group chat. the problem was the version of the client

[2015-05-13 07:30] akhilman commented on #845
qTox and uTox both keeps audio device open. It invisible because of pulse audio alows multiple clients to use same device. But it is not a good way to do things INHO. Open audio device uses cpu circles and disabl es power saving on some hardware.

[2015-05-13 08:29] ElLamparto commented on #1025
@GrayHatter, probably @theCoolkal was right ("Maybe the Start in Tray setting has been enabled").
Unfortunately I've deleted utox_save backup.

I have a pretty standard Xfce on Wheezy and Jessy. Applications have no problem in showing tray icons. µTox shows no icon. Is there any way I could help ?

[2015-05-13 09:08] #855 closed

[2015-05-13 19:31] calimeroteknik commented on #845
There is also that uTox is completely frozen at startup if I'm already using my audio device with a sound server for qsynth, for instance.
That's the case even if I choose another sound output in uTox's preferences; it still needs all of them(?) to be available at startup otherwise it hangs. Then it's fine, as long as I don't choose my sound card as the output.

[2015-05-14 05:35] GrayHatter commented on #1015
@irungentoo do you know why it does that?

[2015-05-14 05:35] #1015 closed

[2015-05-14 11:37] irungentoo commented on #1015
@GrayHatter core issue which I think I fixed

[2015-05-16 08:29] shalnoff commented on #208
Still doesn't work. (ver. 1.0-832)
Everything was unistalled and ~/.cofig/tox/ wiped before reinstallation
![this thin vertical white line is an icon](http://shalnoff.com/pics/tmp/tox_line.png)

[2015-05-16 18:26] tsudoko commented on #1004
fixed by #1033?

[2015-05-16 19:09] LittleVulpix commented on #788
Is it possible to look into this? I mean, just for comparison: the top picture is utox 0.2.r render of the avatar, the one below is one resized (lanczos3) to the same size (40x40px):

![resize quality comparison](http://i.imgur.com/Hs0TLvV.png)

[2015-05-16 19:57] #1004 closed

[2015-05-16 23:07] GrayHatter commented on #788
there's a lot of anti-aliasing that goes into making that look pretty... @Doom032 did you play with the built in resize options to see if there's anything that will provide this effect? Or would we need to import another library?

[2015-05-16 23:17] GrayHatter commented on #208
@shalnoff can you checkout #1007 and tell me what the tray get's resized to? There should be a debug line in the console

[2015-05-17 00:58] GrayHatter commented on #762
@Doom032 can we scale the image down to the smallest resolution that will fit the size we're looking for copy it to the pixmap xlib or bitmap on windows and then copy that map back to utox and write that file to disk and use that?

[2015-05-17 00:59] #1016 closed

[2015-05-17 01:00] GrayHatter commented on #1026
dup, please use #604

[2015-05-17 01:00] #1026 closed

[2015-05-17 01:02] GrayHatter commented on #785
this should be fixed with the new_api file_transfers

tag me if you still think it's too jittery

[2015-05-17 01:02] #785 closed

[2015-05-17 07:40] shalnoff commented on #208
@GrayHatter
trying with the last binary (1.0-842) from repo... unfortuately I see there no "Tray resized" message in terminal. I see "expose" message when window shows on click but nothing else (other irreleveant messages are there).

[2015-05-17 08:48] tsudoko commented on #762
Wouldn't that mean my avatar would get modified by uTox? I don't want that.

[2015-05-17 23:02] GrayHatter commented on #762
utox already makes a copy of your avatar, all this would do is resize it before saving it. Allowing you to select a HUGE avatar, with utox only saving the size it needs.

[2015-05-18 02:53] tsudoko commented on #762
Other clients can display avatars with size different than the one uTox uses, though.

[2015-05-18 15:10] Doom032 commented on #788
The APIs in use to draw images currently are pretty primitive, the Windows API in particular is from the early '90s. We're using the best options in there to draw the images in a resized way, but yeah there's no fancy resizing algorithms built into those APIs. I was working on trying to get our own bicubic resizing in quite a while ago, but it became way too much work. The other possibility is to

[2015-05-18 15:14] LittleVulpix commented on #788
So it's not feasible to implement the bicubic or any other resizing/resampling formula like lanczos? I mean they're (technically) just mathematical functions, aren't they. Are they too much work to put in in a way that works on linux/windows?

[2015-05-18 15:30] Doom032 commented on #788
Well maybe someone else could look at it, but I didn't really get it. Though you should note that it should also be optimized a bit over the standard mathematical function, if you look at GIMPs implementation of bicubic resizing, it's clearly been well-optimized. I tried to adapt it to our code, but I didn't really get that going well either. GIMP uses too much of its own customized functions and

[2015-05-18 15:47] LittleVulpix commented on #788
Something like https://code.google.com/p/imageresampler/ I wish I was any good at programming; I'd probably take a look into this. But alas, I'm a newb.

[2015-05-18 16:11] Doom032 commented on #788
Hey nice @LittleVulpix, that library actually looks great. Exactly what would fit uTox. We could just put that source code in with uTox' code as well so there isn't even a new dependency. I'll take a look at it if I have time, but I just kind of got home from a big trip so I'm gonna rest for the coming time. If someone else wants to take a look at it they're free to do so.

[2015-05-18 16:31] dogstarxxx opened #1035 "Echo on the voice chat"
It's impossible to voice chat without headset. I got echo. With headset I hear myself. On Skype all is fine with the same machines.
On two machines installeted last night build. Thanks

[2015-05-18 16:39] dogstarxxx commented on #959
On windows it's not useble from the start. Okey. If it is "intalleted" then where it's store config and additational files? It's not clear for all users. Where is "private" key & buckups to buckup?

And why so simple client can not SIMPLE be "extracted" from the installer and be "PORTABLE" by default? I'm about simple extract the files and use only extracted folder/subfolder for all activity on th

[2015-05-18 21:08] irungentoo commented on #1035
Did you try the updater build or the jenkins build?

[2015-05-18 22:06] dogstarxxx commented on #1035
I dowloaded build from utox.com, then I "google" about the echo problem and found "jenkins" page with 17 may build. I tied it, but result was the same.

[2015-05-19 08:43] ElLamparto commented on #1035
@dogstarxxx, of course the echo cancellation is very important. However with a few simple rules, you can have excellent audio chat without headphones.

1. Speakers far from microphone,
2. Limited volume on both sides,
3. Cut low frequencies.

[2015-05-19 20:43] plumpudding commented on #959
If you want portable utox create a seperate issue.

[2015-05-20 08:44] fcore117 opened #1037 "Timed history clear"
Clear messages after X time would be very useful for those that do not use remember history but keep uTox running in places where closing is not needed but auto clear would be good.

[2015-05-20 13:42] calimeroteknik commented on #845
Collateral issue with my webcam: I was wondering why it was (physically) *hot* all the time, even not using it at all.
Answer found: utox is running. That was also what was reducing my battery life…

Same problem for a friend using windows 7.

[2015-05-20 21:03] dogstarxxx commented on #1035
@ElLamparto @irungentoo
I (and partner) are using notebooks with fixed microphone/speakers by manufacture.
As I'm already said: We does not have echo problem on the same hardware with Skype.

I'm 100% sure that it's software problem.Tox need some advanced echo reduction algoritms to clean received sound stream from recorded microphone stream.

Maybe need to record "what user last said" and compare

[2015-05-20 22:10] Kyokou commented on #934
@Nsheppard01
I disagree with your assertion that a window should open in the screen it was opened from. Programs should open, by default, on the [1] monitor that the user has set as their default 'parent' on the first open. The next time the program is opened, it should remember it's previous location and open to that location.

In the event that location no longer exists (ie. user has removed a m

[2015-05-20 22:26] irungentoo commented on #1035
uTox should have working echo cancellation. What OS are you on?

[2015-05-21 00:20] dbb opened #1038 "Please add Tox ID requirements to website"
I tried registering a few of my preferred usernames on http://register.utox.org/ and got an insufficient length error each time. It would be nice if the page clearly stated what the required length is, as well as any other requirements and restrictions, so that users don't have to continually enter arbitrary attempts hoping to get a valid one.

[2015-05-21 00:37] irungentoo commented on #1038
Your Tox ID is given to you by your Tox client.

[2015-05-21 02:56] GrayHatter commented on #1037
@fcore117 can you describe a usage case?

[2015-05-21 03:12] dbb commented on #1038
Well, that explains that. Still wish it would have been described on the site. There doesn't appear to be any documentation at all.

[2015-05-21 06:23] #1038 closed

[2015-05-21 09:44] fcore117 commented on #1037
Automatic history clear from chat window after predefined time, just like manual clear. Maybe this way that if someone disables logging then option appears(gray when history is enabled) to clear running session history automatically, eliminates need for closing.

Second way would be if text is read by person then even changing chat window or minimizing would clear previous chat.

I dont know exact

[2015-05-21 11:26] dogstarxxx commented on #1035
@irungentoo we are all at Windows. Also I have low speed uplink(out) internet connection and seems it's give us delay that effect the echo. But as already said Skype work perfect.
Today I test uTox with my other friend and can confirm that problem exists without headset.

[2015-05-21 11:36] dogstarxxx opened #1039 "Usability issue: pick up and hang up button"
I noticed an unpleasant usability issue that affected me and my friends with pick up/hang button.
When somebody calling: you as a regular user tryng to pick up the phone and click on the button, then you feel that connection not estabilished and click again on the same place after 0.1-0.5 seconds. You get dissconected. ;) See log:
- Phone call started 0:16
- Phone call canceled 0:16 (at the same t

[2015-05-21 11:48] thigg opened #1040 "voice quality is worse than in skype"
We wanted to switch to uTox but the voice quality is worse than in skype.

It sounds not as "smooth" as with skype.

Would be nice if this could be improved.

[2015-05-21 16:33] GrayHatter commented on #1040
where'd you get your uTox version?

[2015-05-21 16:38] GrayHatter commented on #1037
sounds like an interesting idea, a "security mode" where utox aggressively tries to not hold any data. Sounds like a data loss nightmare, any ideas on how to make sure utox doesn't remove data the user wants to keep?

[2015-05-21 17:57] Serverkill commented on #1037
For starters I think it would be good if it could automatically delete messages older than like five minutes or whatever. So you don't have to worry that someone who is physically there can read your chat messages when you leave your computer.
Well, atleast that what I think could be useful.

[2015-05-21 21:00] nachfuellbar commented on #951
Seems fixed on my Client (0.2.s; Win 7 Prof)

[2015-05-21 21:57] #951 closed

[2015-05-21 21:58] GrayHatter commented on #453
close as stale

[2015-05-21 21:58] #453 closed

[2015-05-21 22:00] GrayHatter commented on #455
closed as stale

[2015-05-21 22:00] #455 closed

[2015-05-22 07:50] ElLamparto commented on #1040
µTox voice quality is excellent, better than Skype. However Skype handles better poor Internet connection - only in that case, Skype voice quality is superior to µTox (my experience).

[2015-05-22 07:52] thigg commented on #1040
Got it from utox.org. And I guess it is because of a poor connection.

[2015-05-22 07:52] ElLamparto commented on #1035
@irungentoo, is echo cancellation always active, or only when the audio filer is on ?

[2015-05-22 07:53] ElLamparto commented on #1040
Nope

[2015-05-22 14:25] irungentoo commented on #1035
only when the audio filter is on.

[2015-05-22 22:22] rodneyrod commented on #733
Maybe it would be a good thing to get multiple accounts up and running first without simultaneous online connection states e.g. users can have multiple accounts but only one can be online at a time.

Could be used to prototype a UI interface for changing profiles.

[2015-05-22 23:13] v6 opened #1042 "Compilation Failure from https://wiki.tox.im/UTox: ➜ uTox git:(master) gcc -o uTox *.c -lX11 -lXft -lXrender -ltoxcore -ltoxav -ltoxdns -lopenal -pthread -lresolv -ldl -lm -lfontconfig -lv4lconvert -lvpx -I/usr/include/freetype2 -DV4L In file included from avatar.c:1:0: main.h:20:21: fatal error: tox/tox.h: No such file or directory #include <tox/tox.h> ^ compilation terminated."
Hi! I followed the instructions from https://wiki.tox.im/UTox to the letter, to no avail.

    ➜  proj git clone https://github.com/notsecure/uTox.git
    ➜  proj cd uTox
    ➜  uTox git:(master) gcc -o uTox *.c -lX11 -lXft -lXrender -ltoxcore -ltoxav -ltoxdns -lopenal -pthread -lresolv -ldl -lm -lfontconfig -lv4lconvert -lvpx -I/usr/include/freetype2 -DV4L
    In file included from avatar.c:1:0:

[2015-05-23 00:52] GrayHatter commented on #1042
install toxcore

[2015-05-23 00:52] #1042 closed

[2015-05-23 01:12] v6 commented on #1042
// ,

How, exactly, does one install toxcore?

Does the package just need to be installed? Should its files be in the same directory?

[2015-05-23 01:14] GrayHatter commented on #1042
4.1 Apt/Aptitude (Debian, Ubuntu, Mint, etc.)
4.1.1 Notice: we recently revoked our keys and remade our repo
4.1.1.1 Please re-add it if you used it before.
Tox currently maintains Apt and Yum-compatible repos for our Linux clients.
Keep in mind that while we're currently working on packages for all of them, uTox, Toxic, qTox, ratox and tox-bootstrapd (the daemon for running a bootstrap node) are

[2015-05-23 01:55] v6 commented on #1042
// , Does this solve the issues with compiling from source?

On Fri, May 22, 2015 at 6:14 PM, GrayHatter <notifications@github.com>
wrote:

[2015-05-23 04:48] GrayHatter commented on #1042
the problem you're having is that toxcore isn't installed on your system. If you install toxcore and then try to run the command `make` in your git directory. It should compile...

[2015-05-23 10:00] LittleVulpix opened #1043 "Clean up old firewall rules"
Not sure if this is a problem on Linux, but on windows, since each utox binary has the version name embedded in it, you will end up with tons of old redundant firewall rules.

Is it possible to remove these programmatically? Since someone could be using multiple versions at the same time, it should be possible to check whether the target binary exists, and if not, remove the firewall rule for utox

[2015-05-23 10:06] tsudoko commented on #1043
Thought the new updater fixed it by using a single binary name.

[2015-05-23 10:20] LittleVulpix commented on #1043
@tsudoko "new updater" ? I updated today and it still gets the binary as win64-0.3.0. Is the new updater in the works, or something I have to get separately? : o

[2015-05-23 10:25] tsudoko commented on #1043
I think it's been out for a while.
https://github.com/notsecure/utox-update/releases/download/latest/utox_runner.zip

[2015-05-23 10:28] LittleVulpix commented on #1043
@tsudoko Oh, you are right! Would it be possible for the utox_updater to update itself? Or at least tell the user to do so? I've been using the older updater probably, but I had no idea it had been updated.

Additionally, since utox is now called utox.exe regardless of the version, would it be possible to remove those old entries programmatically, or is that not feasible?

[2015-05-23 10:47] fcore117 opened #1044 "Change and manage nospam"
Please add nospam manual and random changing and managing of multiple spam id-s so i can create list where my contacts comes and remove what is not needed.

[2015-05-23 11:27] Overlord23 opened #1045 "Incoming call sound doesn't play"
In Utox v0.3.0 the incoming call ring doesn't play when a call is been received.
There are two sound adapters on my computer, the Realtek onboard audio subsystem and a Creative Audigy SE PCI.
Even switching from one to another, the sound isn't been reproduced.

[2015-05-23 11:52] irungentoo commented on #1045
does disabling audio filtering on the sender fix it?

[2015-05-23 14:42] jf99 commented on #1040
If voice quality is bad, you should check your internet connection. It is likely that Tox fails to connect to your friend directly. In such a case the traffic is redirected over another node, which might not have enough capacity. Forwarding ports 33445 in your (and your friends) router might fix this problem.

[2015-05-23 14:43] thigg commented on #1040
How to check this?

Am 23. Mai 2015 16:42:52 MESZ, schrieb jf99 <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2015-05-23 14:50] jf99 commented on #1040
Unfortunately, uTox doesn't provide such information afaik. So you need to use other tools to analyse your traffic. Windows has resmon.exe for example, with which you can sort connections by data throughput. When calling your friend, you should see that most traffic goes from your computer to your friend's ip. Another useful program might be wireshark.

A simpler method would be to just setup the

[2015-05-23 14:54] irungentoo commented on #1040
try disabling audio filtering.

[2015-05-23 15:19] Overlord23 commented on #1045
I just tried that, the problem persist.
I tried also switching sound adapter with audio filtering disabled either on sender and receiver but it's the same.

[2015-05-23 15:53] irungentoo commented on #1045
if you restart your client does it fix it?

[2015-05-23 17:49] lunixgeek commented on #1035
echo suppression is a must.  I am signing up here so that I can be alerted to test any version offering a solution.

[2015-05-23 22:30] GrayHatter commented on #1043
@LittleVulpix it's a compile time option, you can compile that feature in yourself. Or wait until the settings page is fixed and it'll be an option added in there

[2015-05-23 22:32] GrayHatter commented on #1044
Needs toxcore support that doesn't exist yet

[2015-05-23 22:35] GrayHatter commented on #1045
did you enable it in the setting?

and are you sure your volume is up?

[2015-05-23 22:38] fcore117 commented on #1044
i meant as of currently at least something like qTox has

[2015-05-23 23:11] LittleVulpix commented on #1043
@GrayHatter I'll wait for the page; after all, I am able to get rid of those entries myself; it's more for people who don't want to fiddle about with their firewall settings. Should I leave this issue open?

[2015-05-23 23:46] v6 commented on #1042
Ah. Is that what the repository instructions were for?

Can I just install toxcore from the repository, or do I need to build toxcore from source, as described in the following:
https://github.com/irungentoo/toxcore/blob/master/INSTALL.md#most-unix-like-oses

I tried the instructions mentioned earlier for installing the repository for Ubuntu, and this did not allow me to install `toxcore`:
    ➜

[2015-05-24 00:32] Overlord23 commented on #1045
In the settings menu the related option is enabled and all volume triggers are properly set, other applications can play any kind of sound on both audio subsystems.

Then I set for both input and output device the Realtek subsystem; in this way the ringtone plays as normally, however if I switch output device to "Creative Audigy", this issue appears again; even after restarting uTox the ringtone d

[2015-05-24 08:45] GrayHatter commented on #1042
this is not a utox issue, it's a support request.

You can get live help in #tox on irc.freenode.net or you can wait for @stqism to explain how to add the tox repos to your ubuntu

[2015-05-24 08:47] GrayHatter commented on #1043
yeah, until someone makes a decision on what we're going to do with this, it should stay open. Either way theres' a few people who have all these rules. And it also lets us know how many want to see an updater rolled into the utox bin

[2015-05-24 15:58] kehugter opened #1048 "Not starting after fresh install - utox_save not found"
After a fresh install following this instructions for Apt https://wiki.tox.im/Binaries#Linux, uTox crashes at start with this output

    File not found (/home/asdf/.config/tox/utox_save)
    File not found (utox_save)
    File not found (utox_save)
    0
    have GTK
    new tox object ipv6: 1 udp: 1 proxy: 0  0
    trying without proxy, err 9
    trying without ipv6, err 9
    tox_new() failed 9

[2015-05-24 16:58] irungentoo commented on #1048
Should be fixed now.

[2015-05-24 16:58] #1048 closed

[2015-05-24 18:02] kehugter commented on #1048
Indeed, thanks!

[2015-05-25 00:00] v6 commented on #1042
// ,

If toxcore is a build dependency, why isn't it listed in https://wiki.tox.im/UTox?

The tox repos don't have toxcore as a package, and the documentation does not see fit to mention that it is a prerequisite to even attempt to build uTox from source.

If I hadn't tried the channel already, I wouldn't have opened this issue, Hatter.

It looks like the procedure is to first build AND install `t

[2015-05-25 00:01] v6 commented on #1042
// , I can figure out a pull request, or something. My week's free, man.

[2015-05-25 00:05] GrayHatter commented on #1042
@v6 I'm ideling in that channel, highlight me and Ill get your build enviroment working

[2015-05-25 10:43] ElLamparto commented on #1035
irungentoo: In my opinion, the echo cancellation must be independent on the audio filter.
Personally I am never in a noisy environment, so I never use the audio filter, since it degrades considerably the audio quality.

Still, if the codec allows it, the echo should be supressed without other sound processing.